<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
      
    <app-card>
  
      <div class="row">
        <div class="col-sm-12 menu-headline m-t-10 m-b-10 p-0">
          Pemeriksaan Tanda Vital
        </div>
      </div>
  
      <div class="row align-items-end m-b-15">
        <div class="col-sm-2 modal-label-info m-t-10 p-0">
          <label for="">Nama Dokter</label>
          <input type="text" class="form-control main-form-input" placeholder="Kode Dokter">
          <span class="md-line"></span>
        </div>
        <div class="col-sm-5 modal-label-input p-t-23">
          <input type="text" class="form-control main-form-input" placeholder="Nama Dokter">
          <span class="md-line"></span>
        </div>
        <div class="col-sm-5 m-t-10 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" class="btn btn-primary btn-md btn-round btn-main-grey waves-effect waves-light m-w-30"> 
              <i class="icofont icofont-refresh"></i> Refresh
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 m-t-10 p-0">
          <div class="table-responsive">
            <table id="simpletable" class="table table-xs table-hover table-custom">
              <thead>
                <tr>
                  <th>#</th>
                  <th>No</th>
                  <th>No. Urut Poli</th>
                  <th>No. Daftar</th>
                  <th>No. RM</th>
                  <th>Nama Pasien</th>
                  <th>Umur</th>
                  <th>JK</th>
                  <th>Klasifikasi</th>
                  <th>Dokter</th>
                  <th>Opsi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="lingkaran lingkaran1"></div>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">1</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">P01</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/003</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">000789</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Aditya Hasibuan</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">25 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">L</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Rusdi, dr, SpPD</span></td>
                  <td>
                    <button type="button" (click)="periksaTTV.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light" disabled="disabled">
                      Periksa TTV
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="lingkaran lingkaran0"></div>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">2</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">A01</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/004</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">000910</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Asmirandah</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">5 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">P</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Faisal Bahri, dr, SpA</span></td>
                  <td>
                    <button type="button" (click)="periksaTTV.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Periksa TTV</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="lingkaran lingkaran1"></div>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">3</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">p02</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/P/002</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">000011</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Komarudin</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">55 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">L</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Rusdi, dr, Sppd</span></td>
                  <td>
                    <button type="button" (click)="periksaTTV.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light" disabled="disabled">
                      Periksa TTV
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-7"></div>
        <div class="col-sm-1 text-info-table text-right p-t-3 p-l-50">
          <p class="lingkaran lingkaran1"></p>
        </div>
        <div class="col-sm-2 text-info-table p-0">
          <span>Periksa Tanda Vital Selesai</span>
        </div>
        <div class="col-sm-2 text-info-table text-right">
          Jumlah Data : <span>5</span>
        </div>
      </div>
  
    </app-card>
  
  </div>
</div>

<app-modal-basic #periksaTTV [dialogClass]="'modal-lg modal-lg-2'">

  <div class="app-modal-header">
    <div class="modal-header-info text-left">
      <p>Pemeriksaan Tanda Vital</p>
    </div>
  </div>

  <div class="app-modal-body modal-body-input">
    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-1 modal-label-info">
        <label for="">No. RM</label>
      </div>
      <div class="col-sm-3 modal-label-info">
        <label for="">:</label><span> 009181</span>
      </div>
      <div class="col-sm-1 modal-label-info">
        <label for="">No. Daftar</label>
      </div>
      <div class="col-sm-3 modal-label-info">
        <label for="">:</label><span> POLI/2019/02/009</span>
      </div>
      <div class="col-sm-1 modal-label-info">
        <label for="">Klasifikasi</label>
      </div>
      <div class="col-sm-3 modal-label-info">
        <label for="">:</label><span> BPJS</span>
      </div>
    </div>
    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-1 modal-label-info">
        <label for="">Nama</label>
      </div>
      <div class="col-sm-3 modal-label-info">
        <label for="">:</label><span> ANDREAS PERDANA</span>
      </div>
      <div class="col-sm-1 modal-label-info">
        <label for="">JK</label>
      </div>
      <div class="col-sm-3 modal-label-info">
        <label for="">:</label><span> L</span>
      </div>
      <div class="col-sm-1 modal-label-info">
        <label for="">Poli</label>
      </div>
      <div class="col-sm-3 modal-label-info">
        <label for="">:</label><span> POLI UMUM</span>
      </div>
    </div>
    <div class="row m-l-0 m-r-0 m-b-10 p-b-10" style="border-bottom: 1px solid #dde2ee;">
      <div class="col-sm-1 modal-label-info">
        <label for="">Tgl. Lahir</label>
      </div>
      <div class="col-sm-3 modal-label-info">
        <label for="">:</label><span> 29/03/2001</span>
      </div>
      <div class="col-sm-1 modal-label-info">
        <label for="">Umur</label>
      </div>
      <div class="col-sm-3 modal-label-info">
        <label for="">:</label><span> 18 THN</span>
      </div>
      <div class="col-sm-1 modal-label-info">
        <label for="">Dokter</label>
      </div>
      <div class="col-sm-3 modal-label-info">
        <label for="">:</label><span> ALFI LAELEYAH, DR</span>
      </div>
    </div>
    <div class="row m-l-0 m-r-0 m-b-10 p-b-10" style="border-bottom: 1px solid #dde2ee;">
      <div class="col-sm-12 modal-label-info">
        <label for="">Perhatian Khusus</label>
        <input type="text" class="form-control main-form-input text-trans-none" placeholder="Perhatian Khusus">
        <span class="md-line"></span>
      </div>
    </div>
    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-4 modal-label-info">
        <label for="">Berat Badan ( Kg )</label>
        <input type="text" class="form-control main-form-input text-trans-none" placeholder="Berat Badan ( Kg )">
        <span class="md-line"></span>
      </div>      
      <div class="col-sm-4 modal-label-info">
        <label for="">Tekanan Darah ( mmHg )</label>
        <input type="text" class="form-control main-form-input text-trans-none" placeholder="Tekanan Darah ( mmHg )">
        <span class="md-line"></span>
      </div>
      <div class="col-sm-4 modal-label-info">
        <label for="">Nadi ( x/menit )</label>
        <input type="text" class="form-control main-form-input text-trans-none" placeholder="Nadi ( x/menit )">
        <span class="md-line"></span>
      </div>
    </div>
    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-4 modal-label-info">
        <label for="">Tinggi Badan ( cm )</label>
        <input type="text" class="form-control main-form-input text-trans-none" placeholder="Tinggi Badan ( cm )">
        <span class="md-line"></span>
      </div>      
      <div class="col-sm-4 modal-label-info">
        <label for="">Pernapasan ( x/menit )</label>
        <input type="text" class="form-control main-form-input text-trans-none" placeholder="Pernapasan ( x/menit )">
        <span class="md-line"></span>
      </div>
      <div class="col-sm-4 modal-label-info">
        <label for="">Suhu Badan ( C )</label>
        <input type="text" class="form-control main-form-input text-trans-none" placeholder="Suhu Badan ( C )">
        <span class="md-line"></span>
      </div>
    </div>
    <div class="row m-l-0 m-r-0 m-b-0 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
      <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
      <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
      <div class="col-sm-4 m-t-10 p-l-10 text-right">
        <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
          <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
            <i class="icofont icofont-save"></i> Simpan
          </button>
          <button type="button" (click)="periksaTTV.hide()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
            <i class="icofont icofont-ui-close"></i> Batal
          </button>
        </div>
      </div>
    </div>
  </div>

</app-modal-basic>
 