<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid auth-forgot">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form class="md-float-material">

            <div class="text-center">
              <img class="login-image" src="assets/images/klinik-logo.png" alt="logo.png">
              <p class="login-text text-center">Masukkan Email Anda, untuk Ganti Kata Sandi.</p> 
            </div>

            <div class="auth-box welcome">  
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Email">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-20 text-left"> 
                <div class="col-sm-6 col-xs-12 forgot-phone text-left">
                </div>
                <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                  <a [routerLink]="['/login']" class="text-right f-w-600 text-inverse"> Kembali ke Login</a>
                </div>
              </div>
              <div class="row m-t-20">
                <div class="col-md-12">
                  <button type="button" id="btnLupaPass" (click)="lupaPass.show()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"> GANTI KATA SANDI </button>
                </div>
              </div> 
            </div>

          </form>

          <div class="text-center m-t-15">
            <p class="login-text text-center ver-app">version 0.0.1</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<app-modal-basic #lupaPass [dialogClass]="'modal-md'">
    <div class="app-modal-body">
      <div class="text-center">
        <p>URL untuk Mengganti kata sandi telah kami kirimkan ke email anda.</p>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-sm" (click)="lupaPass.hide()"> OK </button>
      </div>
    </div>    
</app-modal-basic>