<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid auth-email">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form class="md-float-material">

            <div class="text-center">
              <img class="login-image" src="assets/images/klinik-logo.png" alt="logo.png">
              <p class="login-text text-center">Selamat Datang di Aplikasi e-Klinik.</p>
            </div>

            <div class="auth-box welcome"> 
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Email Pengguna">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Kata Sandi">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-20 text-left"> 
                <div class="col-sm-6 col-xs-12 forgot-phone text-left">
                </div>
                <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                  <a [routerLink]="['/forgot']" class="text-right f-w-600 text-inverse"> Lupa Kata Sandi ?</a>
                </div>
              </div>
              <div class="row m-t-20">
                <div class="col-md-12">
                  <button type="button" routerLink="/dashboard" class="btn btn-primary btn-md btn-block waves-effect text-center"> MASUK </button>
                </div>
              </div>
            </div>

          </form>
          <div class="text-center m-t-15">
            <p class="login-text text-center ver-app">version 0.0.1</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>