<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
    <div class="col-sm-12">
      
      <app-card>
  
        <div class="row">
          <div class="col-sm-12 menu-headline m-t-10 m-b-10 p-0">
            Data Perusahaan
          </div>
        </div>
  
        <div class="row align-items-end m-b-15">
          <div class="col-sm-4 modal-label-info m-t-10 p-0">
              <label for="">Pencarian</label>
              <input type="text" class="form-control main-form-input" placeholder="Pencarian">
              <span class="md-line"></span>
          </div>
          <div class="col-sm-4 m-t-10 p-l-10">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
              <button type="button" routerLink="/" class="btn btn-primary btn-md btn-round btn-block btn-main waves-effect text-center m-w-30"> 
                <i class="icofont icofont-ui-search"></i> Cari</button>
            </div>
          </div>
          <div class="col-sm-4 m-t-10 p-l-10 text-right">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
              <button type="button" (click)="tambahPerusahaan.show()" class="btn btn-primary btn-md bt-round btn-round btn-main-grey waves-effect waves-light m-w-30">
                <i class="icofont icofont-ui-add"></i> Tambah</button>
              <button type="button" class="btn btn-primary btn-md btn-round btn-main-grey waves-effect waves-light m-w-30">
                <i class="icofont icofont-refresh"></i> Bersih</button>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 m-t-10 p-0">
            <div class="table-responsive">
              <table class="table table-xs table-hover table-custom" id="example-2">
                <thead>
                  <tr>
                    <th>Kode</th>
                    <th>Nama Perusahaan</th>
                    <th>Gedung</th>
                    <th>Kawasan</th>
                    <th>Jalan</th>
                    <th>No.</th>
                    <th>No.Telp</th>
                    <th>Opsi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tabledit-view-mode"><span class="tabledit-span">D001</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">Aspek Kumbong, PT</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">Gedung Delapan</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">Cileungsi</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">Jl. Raya Narogong KM. 21</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">10 A</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">021 - 2891 9090</span>
                    </td>
                    <td>
                        <button type="button" (click)="detailPerusahaan.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Detail</button>
                    </td>
                  </tr>
                   <tr>
                    <td class="tabledit-view-mode"><span class="tabledit-span">D001</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">Caterpillar, PT</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">Gedung Traktor</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">Cileungsi</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">Jl. Raya Narogong KM. 19</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">22</span>
                    </td>
                    <td class="tabledit-view-mode"><span class="tabledit-span">021 - 2888 4343</span>
                    </td>
                    <td>
                      <button type="button" (click)="detailPerusahaan.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Detail</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 text-info-table text-right">
            Jumlah Data : <span>2</span>
          </div>
        </div>
  
      </app-card>
  
    </div>
</div>
  
<app-modal-basic #tambahPerusahaan [dialogClass]="'modal-lg modal-lg-2'">

    <div class="app-modal-header">
      <div class="modal-header-info text-left">
        <p>Tambah Perusahaan</p>
      </div>
    </div>

    <div class="app-modal-body modal-body-input">
            
      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-12 modal-label-info">
            <label for="">Perusahaan</label>
            <input type="text" class="form-control main-form-input" placeholder="Nama Perusahaan">
            <span class="md-line"></span>
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-6 modal-label-info">
            <label for="">Nama Gedung </label>
            <input type="text" class="form-control main-form-input" placeholder="Nama Gedung">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-6 modal-label-info">
            <label for="">Kawasan </label>
            <input type="text" class="form-control main-form-input" placeholder="Kawasan">
            <span class="md-line"></span>           
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-6 modal-label-info">
            <label for="">Jalan </label>
            <input type="text" class="form-control main-form-input" placeholder="Jalan">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-3 modal-label-info">
            <label for="">No. </label>
            <input type="text" class="form-control main-form-input" placeholder="No.">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-3 modal-label-info">
            <label for="">Kabupaten / Kota </label>
            <input type="text" class="form-control main-form-input" placeholder="Kabupaten / Kota">
            <span class="md-line"></span>           
        </div>       
      </div>
      <div class="row m-l-0 m-r-0 m-b-6">
         <div class="col-sm-4 modal-label-info">
            <label for="">Provinsi </label>
            <input type="text" class="form-control main-form-input" placeholder="Provinsi">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-2 modal-label-info">
            <label for="">Kode Pos </label>
            <input type="text" class="form-control main-form-input" placeholder="Kode Pos">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-3 modal-label-info">
            <label for="">No. Telp </label>
            <input type="text" class="form-control main-form-input" placeholder="No. Telp">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-3 modal-label-info">
            <label for="">Fax </label>
            <input type="text" class="form-control main-form-input" placeholder="Fax">
            <span class="md-line"></span>           
        </div>
      </div>
      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-6 modal-label-info">
            <label for="">Email </label>
            <input type="text" class="form-control main-form-input" placeholder="Email">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-6 modal-label-info">
            <label for="">Nama Kontak</label>
            <input type="text" class="form-control main-form-input" placeholder="Nama Kontak">
            <span class="md-line"></span>           
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-0 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
                <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-ui-add"></i> Tambah Perawat
                </button>
                <button type="button" (click)="tambahPerusahaan.hide()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-ui-close"></i> Batal
                </button>
            </div>
        </div>
      </div>

    </div>
</app-modal-basic>

<app-modal-basic #detailPerusahaan [dialogClass]="'modal-lg modal-lg-2'">

  <div class="app-modal-header">
    <div class="modal-header-info text-left">
      <p>Informasi Perusahaan</p>
    </div>
  </div>

  <div class="app-modal-body modal-body-input">
          
    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-12 modal-label-info">
          <label for="">Perusahaan</label>
          <input type="text" class="form-control main-form-input" placeholder="Nama Perusahaan">
          <span class="md-line"></span>
      </div>
    </div>

    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-6 modal-label-info">
          <label for="">Nama Gedung </label>
          <input type="text" class="form-control main-form-input" placeholder="Nama Gedung">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-6 modal-label-info">
          <label for="">Kawasan </label>
          <input type="text" class="form-control main-form-input" placeholder="Kawasan">
          <span class="md-line"></span>           
      </div>
    </div>

    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-6 modal-label-info">
          <label for="">Jalan </label>
          <input type="text" class="form-control main-form-input" placeholder="Jalan">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-3 modal-label-info">
          <label for="">No. </label>
          <input type="text" class="form-control main-form-input" placeholder="No.">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-3 modal-label-info">
          <label for="">Kabupaten / Kota </label>
          <input type="text" class="form-control main-form-input" placeholder="Kabupaten / Kota">
          <span class="md-line"></span>           
      </div>       
    </div>

    <div class="row m-l-0 m-r-0 m-b-6">
       <div class="col-sm-4 modal-label-info">
          <label for="">Provinsi </label>
          <input type="text" class="form-control main-form-input" placeholder="Provinsi">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-2 modal-label-info">
          <label for="">Kode Pos </label>
          <input type="text" class="form-control main-form-input" placeholder="Kode Pos">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-3 modal-label-info">
          <label for="">No. Telp </label>
          <input type="text" class="form-control main-form-input" placeholder="No. Telp">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-3 modal-label-info">
          <label for="">Fax </label>
          <input type="text" class="form-control main-form-input" placeholder="Fax">
          <span class="md-line"></span>           
      </div>
    </div>
    
    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-6 modal-label-info">
          <label for="">Email </label>
          <input type="text" class="form-control main-form-input" placeholder="Email">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-6 modal-label-info">
          <label for="">Nama Kontak</label>
          <input type="text" class="form-control main-form-input" placeholder="Nama Kontak">
          <span class="md-line"></span>           
      </div>
    </div>

    <div class="row m-l-0 m-r-0 m-b-0 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
      <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
      <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
      <div class="col-sm-4 m-t-10 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
              <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-save"></i> Simpan Perubahan
              </button>
              <button type="button" (click)="detailPerusahaan.hide()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-ui-close"></i> Batal
              </button>
          </div>
      </div>
    </div>

  </div>
</app-modal-basic>
