<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
      
    <app-card>
  
      <div class="row">
        <div class="col-sm-12 menu-headline m-t-10 m-b-10 p-0">
          Laporan Jumlah Pasien
        </div>
      </div>
  
      <div class="row align-items-end m-b-15">
        <div class="col-sm-5">
          <div class="row modal-label-info p-0">
            <div class="col-sm-4 modal-label-info m-t-10 p-l-0">
              <label for="">Periode</label>
              <input type="text" class="form-control main-form-input" placeholder="Tanggal Dari">
              <span class="md-line"></span>
            </div>
            <div class="col-sm-1 modal-label-info p-t-35 text-center">
              <label for="">s/d</label>
            </div>
            <div class="col-sm-4 modal-label-info p-l-0 p-t-33">
              <input type="text" class="form-control main-form-input" placeholder="Tanggal Sampai">
              <span class="md-line"></span>
            </div>
            <div class="col-sm-3 p-l-10 p-t-33">
              <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                <button type="button" (click)="toggle()" class="btn btn-primary btn-md btn-round btn-main waves-effect waves-light m-w-30"> 
                  <i class="icofont icofont-eye-alt"></i> Tampilkan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 p-l-10 text-right"></div>
        <div class="col-sm-3 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" class="btn btn-primary btn-md btn-round btn-main-grey waves-effect waves-light m-w-30"> 
              <i class="icofont icofont-refresh"></i> Refresh
            </button>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="show">
        <div class="col-sm-12 m-t-10 p-0">
          <div class="table-responsive">
            <table class="table table-xs table-hover table-custom" id="example-2">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Tanggal</th>
                  <th>No. Daftar</th>
                  <th>No. RM</th>
                  <th>Nama Pasien</th>
                  <th>Tgl Lahir</th>
                  <th>Umur</th>
                  <th>JK</th>
                  <th>Klasifikasi</th>
                  <th>Dokter</th>
                  <th>Tindakan</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">1</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">11/02/2019</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/009</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">009181</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Andreas Perdana</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">29/02/1998</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">26 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">L</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Alfi Laeleyah, dr</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Banyak Istirahat dan Kurangi Makan Indomie</span></td>
                </tr>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">2</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">11/02/2019</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/010</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">009009</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Tomas Daki</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">20/10/2001</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">23 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">L</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Dwi Putra Setianto, dr</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Jaga Kebersihan dan Kurangi Begadang</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="show">
        <div class="col-sm-12 text-info-table text-right">
          Jumlah Data : <span>2</span>
        </div>
      </div>
  
    </app-card>
  
  </div>
</div>


 