<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
    
    <app-card>

      <div class="row">
        <div class="col-sm-12 menu-headline m-t-10 m-b-10 p-0">
          Data Rumah Sakit
        </div>
      </div>

      <div class="row align-items-end m-b-15">
        <div class="col-sm-4 modal-label-info m-t-10 p-0">
            <label for="">Pencarian</label>
            <input type="text" class="form-control main-form-input" placeholder="Pencarian">
            <span class="md-line"></span>
        </div>
        <div class="col-sm-4 m-t-10 p-l-10">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" routerLink="/" class="btn btn-primary btn-md btn-round btn-block btn-main waves-effect text-center m-w-30">
              <i class="icofont icofont-search"></i> Cari
            </button>
          </div>
        </div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" (click)="tambahRS.show()" class="btn btn-primary btn-md bt-round btn-round btn-main-grey waves-effect waves-light m-w-30">
              <i class="icofont icofont-ui-add"></i> Tambah
            </button>
            <button type="button" class="btn btn-primary btn-md btn-round btn-main-grey waves-effect waves-light m-w-30">
              <i class="icofont icofont-refresh"></i> Refresh
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 m-t-10 p-0">
          <div class="table-responsive">
            <table class="table table-xs table-hover table-custom" id="example-2">
              <thead>
                <tr>
                  <th>Kode Rumah Sakit</th>
                  <th>Nama Rumah Sakit</th>
                  <th>Alamat RUmah Sakit</th>
                  <th>Telepon 1</th>
                  <th>Opsi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">001</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">RS Hermawan</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Jl. Raya Bandung VII</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">022 - 8900 2339</span></td>
                  <td>
                    <button type="button" (click)="detailRS.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">002</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">RSIA Kasih Ibu</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Jl. Raya Cibubur Km. 33</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">021 - 8322 5678</span></td>
                  <td>
                    <button type="button" (click)="detailRS.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">003</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">RS SCSK</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Jl. Alternatif Ciawi Km. 33</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">0251 - 547 9800</span></td>
                  <td>
                    <button type="button" (click)="detailRS.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Detail</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-info-table text-right">
          Jumlah Data : <span>3</span>
        </div>
      </div>

    </app-card>

  </div>
</div>

<app-modal-basic #tambahRS [dialogClass]="'modal-lg modal-lg-2'">

  <div class="app-modal-header">
    <div class="modal-header-info text-left">
      <p>Tambah Rumah Sakit</p>
    </div>
  </div>

  <div class="app-modal-body modal-body-input">
    <div class="row m-t-10">
      
      <div class="col-sm-6 p-r-25" style="border-right: 2px solid #edeff5;">

        <div class="row m-l-0 m-r-0 m-b-5">
            <div class="col-sm-6 modal-label-input">
                <label for="">Kode Rumah Sakit</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
            </div>
            <div class="col-sm-6 modal-label-input">
                <label for="">Kode Faskes</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
            </div>
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">   
            <div class="col-sm-12 modal-label-input">
                <label for="">Nama Rumah Sakit</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
            </div>
        </div>

        <div class="row m-l-0 m-r-0 m-b-5"> 
            <div class="col-sm-12 modal-label-input">
                <label for="">No. Izin Rumah Sakit</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div> 
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">
            <div class="col-sm-12 modal-label-input">
                <label for="">Penanggung Jawab</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>                           
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">
          <div class="col-sm-12 modal-label-input">
              <label for="">No. Izin Praktek</label>
              <input type="text" class="form-control main-form-input" placeholder="">
              <span class="md-line"></span>
          </div>
        </div>

      </div>

      <div class="col-sm-6 p-l-25">

        <div class="row m-l-0 m-r-0 m-b-5">
            <div class="col-sm-12 modal-label-input">
                <label for="">Alamat</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
            </div>
        </div>
        <div class="row m-l-0 m-r-0 m-b-5">  
            <div class="col-sm-12 modal-label-input">
                <label for="">Kabupaten / Kota</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>                            
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">
            <div class="col-sm-6 modal-label-input">
                <label for="">Kode POS</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>
            <div class="col-sm-6 modal-label-input">
                <label for="">Telepon 1</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">                      
              <div class="col-sm-6 modal-label-input">
                <label for="">Telepon 2</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>
            <div class="col-sm-6 modal-label-input">
                <label for="">FAX</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">
            <div class="col-sm-12 modal-label-input">
                <label for="">Email</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>           
            </div>                            
        </div>                       

        </div>
    </div>
    
    <div class="row m-l-0 m-r-0 m-b-5 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
                <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light"> 
                  <i class="icofont icofont-ui-add"></i> Tambah RS
                </button>
                <button type="button" (click)="tambahRS.hide()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30"> 
                  <i class="icofont icofont-ui-close"></i> Batal</button>
            </div>
        </div>
    </div>

  </div>
</app-modal-basic>

<app-modal-basic #detailRS [dialogClass]="'modal-lg modal-lg-2'">

  <div class="app-modal-header">
    <div class="modal-header-info text-left">
      <p>Informasi Rumah Sakit</p>
    </div>
  </div>

  <div class="app-modal-body modal-body-input">
    <div class="row">
      
      <div class="col-sm-6 p-r-25" style="border-right: 2px solid #edeff5;">

        <div class="row m-l-0 m-r-0 m-b-5">
            <div class="col-sm-6 modal-label-input">
                <label for="">Kode Rumah Sakit</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
            </div>
            <div class="col-sm-6 modal-label-input">
                <label for="">Kode Faskes</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
            </div>
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">   
            <div class="col-sm-12 modal-label-input">
                <label for="">Nama Rumah Sakit</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
            </div>
        </div>

        <div class="row m-l-0 m-r-0 m-b-5"> 
            <div class="col-sm-12 modal-label-input">
                <label for="">No. Izin Rumah Sakit</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div> 
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">
            <div class="col-sm-12 modal-label-input">
                <label for="">Penanggung Jawab</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>                           
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">
          <div class="col-sm-12 modal-label-input">
              <label for="">No. Izin Praktek</label>
              <input type="text" class="form-control main-form-input" placeholder="">
              <span class="md-line"></span>
          </div>
        </div>

      </div>

      <div class="col-sm-6 p-l-25">

        <div class="row m-l-0 m-r-0 m-b-5">
            <div class="col-sm-12 modal-label-input">
                <label for="">Alamat</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
            </div>
        </div>
        <div class="row m-l-0 m-r-0 m-b-5">  
            <div class="col-sm-12 modal-label-input">
                <label for="">Kabupaten / Kota</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>                            
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">
            <div class="col-sm-6 modal-label-input">
                <label for="">Kode POS</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>
            <div class="col-sm-6 modal-label-input">
                <label for="">Telepon 1</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">                      
              <div class="col-sm-6 modal-label-input">
                <label for="">Telepon 2</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>
            <div class="col-sm-6 modal-label-input">
                <label for="">FAX</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>           
            </div>
        </div>

        <div class="row m-l-0 m-r-0 m-b-5">
            <div class="col-sm-12 modal-label-input">
                <label for="">Email</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>           
            </div>                            
        </div>                       

        </div>
    </div>
    
    <div class="row m-l-0 m-r-0 m-b-5 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
                <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-ui-save"></i> Simpan Perubahan
                </button>
                <button type="button" (click)="detailRS.hide()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-ui-close"></i> Batal
                </button>
            </div>
        </div>
    </div>

  </div>
</app-modal-basic>
