/* .sub-menu-body {
    margin: 35px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.sub-menu-body > ul > li {
    margin: 10px 0 0 0;
    padding: 8px 0px 8px 15px;
}

.sub-menu-body > ul > li > a {
    font-weight: 600;
    color: #52617b;
    font-size: 13px !important;
}
  
.sub-menu-body > ul > li:hover,
.sub-menu-body > ul > li:active {
    background-color: #dde2ee;   
    padding: 8px 0px 8px 15px;
    border-radius: 10px;
}
.sub-menu-body > ul > li:hover > a {
    color: #00796b;
}
 
.active-li {
    background-color: #dde2ee;   
    padding: 8px 0px 8px 8px;
    border-radius: 10px; 
} 

.active-a { 
    color: #00796b !important;
} */