<div class="sub-menu-body">
  <ul>
    <li routerLinkActive="active-li"><a routerLink="/dashboard" routerLinkActive="active-a"> Dashboard </a></li>
    <li routerLinkActive="active-li"><a routerLink="/poliklinik" routerLinkActive="active-a"> Poliklinik </a></li>
    <li routerLinkActive="active-li"><a routerLink="/rekam-medis" routerLinkActive="active-a"> Rekam Medis </a></li>
    <li routerLinkActive="active-li"><a routerLink="/master" routerLinkActive="active-a"> Master Data </a></li>
    <li routerLinkActive="active-li"><a routerLink="/apotek" routerLinkActive="active-a"> Apotek </a></li>
  </ul>
</div>
