<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
        
    <app-card>
    
      <!-- <div class="row">
        <div class="col-sm-12 menu-headline m-t-3 m-b-10 p-0">
          Pendaftaran Poli
        </div>
      </div> -->

      <div class="app-modal-body modal-body-input">

        <div class="row" style="border: 1px solid #dde2ee; border-radius:10px; padding:8px;">
          <div class="col-sm-6 p-r-25" style="border-right: 1px solid #dde2ee;">

            <div class="row m-b-6">
              <div class="col-sm-4 modal-label-input">
                <label for="">Nomor RM</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-4 modal-label-input p-t-23">
                <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                <button type="button" class="btn btn-primary btn-md bt-round btn-round btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-search"></i> Periksa Identitas</button>
                </div>
              </div>
              <div class="col-sm-4 modal-label-input">
                <label for="">Nomor KTP</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>
            <div class="row m-b-6">             
              <div class="col-sm-8 modal-label-input">
                <label for="">Nama Lengkap Pasien</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-4 modal-label-input">
                <label for="">Jenis Kelamin</label>
                <select type="text" class="form-control main-form-input form-select">
                  <option value="0"></option>
                  <option value="1">Laki - Laki</option>
                  <option value="2">Perempuan</option>
                </select>
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-10">
              <div class="col-sm-4 modal-label-input">
                <label for="">Tempat</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-4 modal-label-input">
                <label for="">Tanggal Lahir</label>
                <input type="" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-4 modal-label-input">
                <label for="">Usia</label>
                <input type="" class="form-control main-form-input" placeholder="" disabled>
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
            <div class="col-sm-4 modal-label-input">
              <label for="">Status Pernikahan</label>
              <select type="text" class="form-control main-form-input form-select">
                <option value="0"></option>
                <option value="1">Kawin</option>
                <option value="2">Tidak Kawin</option>
              </select>
              <span class="md-line"></span>
            </div>
            <div class="col-sm-4 modal-label-input">
              <label for="">Agama</label>
              <select type="text" class="form-control main-form-input form-select">
                <option value="0"></option>
                <option value="1">Islam</option>
                <option value="2">Kristen Katolik</option>
                <option value="3">Kristen Protestan</option>
                <option value="4">Budha</option>
                <option value="5">Hindu</option>
                <option value="6">Lainnya</option>
              </select>
              <span class="md-line"></span>
            </div>
            <div class="col-sm-4 modal-label-input">
              <label for="">Golongan Darah</label>
              <select type="text" class="form-control main-form-input form-select">
                <option value="0"></option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">O</option>
                <option value="4">AB</option>
              </select>
              <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
              <div class="col-sm-4 modal-label-input">
                <label for="">Pendidikan Terakhir</label>
                <select type="text" class="form-control main-form-input form-select">
                  <option value="0"></option>
                  <option value="1">SD</option>
                  <option value="2">SMP</option>
                  <option value="3">SMA</option>
                  <option value="4">Perguruan Tinggi</option>
                </select>
                <span class="md-line"></span>
              </div>
              <div class="col-sm-4 modal-label-input">
                <label for="">Pekerjaan</label>
                <select type="text" class="form-control main-form-input form-select">
                  <option value="0"></option>
                  <option value="1">SD</option>
                  <option value="2">SMP</option>
                  <option value="3">SMA</option>
                  <option value="4">Perguruan Tinggi</option>
                </select>
                <span class="md-line"></span>
              </div>
            </div>
          </div>

          <div class="col-sm-6 p-l-25">
            
            <div class="row m-b-6">
              <div class="col-sm-12 modal-label-input">
                <label for="">Alamat</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
              <div class="col-sm-6 modal-label-input">
                <label for="">Kabupaten / Kota</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-6 modal-label-input">
                <label for="">Kecamatan</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
              <div class="col-sm-6 modal-label-input">
                <label for="">Kelurahan / Desa</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-3 modal-label-input">
                <label for="">RT</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-3 modal-label-input">
                <label for="">RW</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
              <div class="col-sm-6 modal-label-input">
                <label for="">Provinsi</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-6 modal-label-input">
                <label for="">No. Telepon</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div> 
            </div>
            
            <div class="row m-b-6">
              <div class="col-sm-6 modal-label-info">
                <label for="">Tanggal Registrasi</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

          </div>
        </div>

        <div class="row m-t-5" style="border: 1px solid #dde2ee; border-radius:10px; padding:8px;">
          <div class="col-sm-6 p-r-25" style="border-right: 1px solid #dde2ee;">              
            <div class="row m-b-6">
              <div class="col-sm-4 modal-label-input">
                <label for="">Klasifikasi</label>
                <select type="text" class="form-control main-form-input form-select">
                  <option value="0"></option>
                  <option value="1">Pribadi</option>
                  <option value="2">BPJS</option>
                  <option value="2">Asuransi</option>
                  <option value="2">Rekanan</option>
                  <option value="2">Yayasan</option>
                </select>
                <span class="md-line"></span>
              </div>
              <div class="col-sm-8 modal-label-input">
                <label for="">Poli</label>
                <select type="text" class="form-control main-form-input form-select">
                  <option value="0"></option>
                  <option value="1">Poli Umum</option>
                  <option value="2">Poli Anak</option>
                  <option value="2">Poli Kebidanan dan Penyakit Kandungan</option>
                  <option value="2">Poli Penyakit Dalam</option>
                  <option value="2">Poli Bedah</option>
                  <option value="2">Poli Kesehatan Mulut dan Gigi</option>
                  <option value="2">Poli THT - KL</option>
                </select>
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
              <div class="col-sm-4 modal-label-input">
                <label for="">Nama Dokter</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-8 modal-label-input p-t-23">
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
              <div class="col-sm-4 modal-label-input">
                <label for="">Jenis Kunjungan</label>
                <select type="text" class="form-control main-form-input form-select">
                  <option value="0"></option>
                  <option value="1">Baru</option>
                  <option value="2">Lama</option>
                </select>
                <span class="md-line"></span>
              </div>
              <div class="col-sm-4 modal-label-input p-t-23">
                <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                <button type="button" (click)="toggle()" class="btn btn-primary btn-md bt-round btn-round btn-main-grey waves-effect waves-light m-w-30">
                <i class="icofont icofont-heart-beat"></i> Periksa TTV</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 p-l-25" *ngIf="show">    
            <div class="row m-b-6">
              <div class="col-sm-12 modal-label-input">
                <label for="">Perhatian Khusus</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>
            <div class="row m-b-6">
              <div class="col-sm-4 modal-label-input">
                <label for="">Berat Badan (Kg)</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-4 modal-label-input">
                <label for="">Tinggi Badan (Cm)</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-4 modal-label-input">
                <label for="">Tekanan Darah (mmHg)</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>
            <div class="row m-b-6">
              <div class="col-sm-4 modal-label-input">
                <label for="">Pernafasan (x/menit)</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-4 modal-label-input">
                <label for="">Nadi (x/menit)</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-4 modal-label-input">
                <label for="">Suhu Badan (C)</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row m-l-0 m-b-0 m-t-5 align-items-end">
          <div class="col-sm-4 m-t-10 p-l-10"></div>
          <div class="col-sm-4 m-t-10 p-l-10"></div>
          <div class="col-sm-4 m-t-10 p-l-10 text-right">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
              <button type="button" (click)="pasienTerdaftar.show()" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-save"></i> Simpan
              </button>
              <button type="button" (click)="backClicked()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-ui-close"></i> Batal
              </button>
            </div>
          </div>
        </div>

      </div>
    </app-card>

  </div>
</div>

<app-modal-basic #pasienTerdaftar [dialogClass]="'modal-md modal-lg-2'">

    <div class="app-modal-body modal-body-input">

      <div class="row m-l-0 m-r-0 m-b-10 p-b-10">
        <div class="col-sm-12 modal-label-info text-center">
          <h4 for="">Anda Telah Terdaftar di</h4><br>
          <h5>Poliklinik Penyakit Dalam</h5>
        </div>
        <div class="col-sm-12 modal-label-info text-center">
          <h5 for="">No. Antrian : <span> 9 </span></h5>
        </div>
      </div>
      <div class="row m-l-0 m-r-0 m-b-0 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
        <div class="col-sm-12 m-t-10 p-l-10 text-center">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
                <button type="button" (click)="pasienTerdaftar.hide()" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-thumbs-up"></i> OK
                </button>
            </div>
        </div>
      </div>
    </div>
</app-modal-basic>

    


