<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">

    <app-card>
      <div class="row">

        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/rekam-medis/pasien" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/data_pasien.png" class="img-btn"/>
            <span class="text-btn">Data Pasien</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/rekam-medis/sensus-poli" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/sensus_harian.png" class="img-btn"/>
            <span class="text-btn">Sensus Harian <br> Poli</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/rekam-medis/lap-periksa-pasien" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/lap_pemeriksaan.png" class="img-btn"/>
            <span class="text-btn">Lap. Pemeriksaan <br> Pasien</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/laporan.png" class="img-btn"/>
            <span class="text-btn">Jurnal Poliklinik</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/laporan.png" class="img-btn"/>
            <span class="text-btn">Rekap Kegiatan <br> Pelayanan Medis</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/laporan.png" class="img-btn"/>
            <span class="text-btn">Laporan Penyakit</span>
          </a>
        </div>
        
      </div>
    </app-card>

  </div>
</div>
