<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
        
    <app-card>
    
      <div class="row">
        <div class="col-sm-12 menu-headline m-t-3 m-b-10 p-0">
          Identitas Pasien
        </div>
      </div>

      <div class="app-modal-body modal-body-input">
        <div class="row">

          <div class="col-sm-12 p-r-25">

            <div class="row m-b-10 p-b-10" style="border-bottom: 1px solid #dde2ee;">
              <div class="col-sm-2 modal-label-input">
                <label for="">Nomor Kartu</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-2 modal-label-input p-t-23">
                <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                <button type="button" (click)="tambahKaryawan.show()" class="btn btn-primary btn-md bt-round btn-round btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-search"></i> Periksa Identitas</button>
                </div>
              </div>
              <div class="col-sm-2 modal-label-input">
                <label for="">Nomor RM</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
              
              <div class="col-sm-6 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-30" style="margin-right: 0 !important;">
                <label>
                  <input type="checkbox" value="" checked="checked">
                  <span class="cr checkbox-table">
                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                  </span> &nbsp;&nbsp; Auto Generated
                </label>
              </div>
            </div>
            
          </div>

          <div class="col-sm-8 p-r-25" style="border-right: 1px solid #dde2ee;">
            <div class="row m-b-6">
              <div class="col-sm-3 modal-label-input">
                <label for="">Nomor KTP</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-9 modal-label-input">
                <label for="">Nama Lengkap Pasien</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-10">
              <div class="col-sm-3 modal-label-input">
                <label for="">Jenis Kelamin</label>
                <select type="text" class="form-control main-form-input form-select">
                  <option value="0"></option>
                  <option value="1">Laki - Laki</option>
                  <option value="2">Perempuan</option>
                </select>
                <span class="md-line"></span>
              </div>
              <div class="col-sm-3 modal-label-input">
                <label for="">Tempat</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-3 modal-label-input">
                <label for="">Tanggal Lahir</label>
                <input type="" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-3 modal-label-input">
                <label for="">Usia</label>
                <input type="" class="form-control main-form-input" placeholder="" disabled>
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
            <div class="col-sm-3 modal-label-input">
              <label for="">Status Pernikahan</label>
              <select type="text" class="form-control main-form-input form-select">
                <option value="0"></option>
                <option value="1">Kawin</option>
                <option value="2">Tidak Kawin</option>
              </select>
              <span class="md-line"></span>
            </div>
            <div class="col-sm-3 modal-label-input">
              <label for="">Agama</label>
              <select type="text" class="form-control main-form-input form-select">
                <option value="0"></option>
                <option value="1">Islam</option>
                <option value="2">Kristen Katolik</option>
                <option value="3">Kristen Protestan</option>
                <option value="4">Budha</option>
                <option value="5">Hindu</option>
                <option value="6">Lainnya</option>
              </select>
              <span class="md-line"></span>
            </div>
            <div class="col-sm-3 modal-label-input p-t-23">
              <input type="text" class="form-control main-form-input" placeholder="Lainnya">
              <span class="md-line"></span>
            </div>
            <div class="col-sm-3 modal-label-input">
              <label for="">Golongan Darah</label>
              <select type="text" class="form-control main-form-input form-select">
                <option value="0"></option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">O</option>
                <option value="4">AB</option>
              </select>
              <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
              <div class="col-sm-3 modal-label-input">
                <label for="">Pendidikan Terakhir</label>
                <select type="text" class="form-control main-form-input form-select">
                  <option value="0"></option>
                  <option value="1">SD</option>
                  <option value="2">SMP</option>
                  <option value="3">SMA</option>
                  <option value="4">Perguruan Tinggi</option>
                </select>
                <span class="md-line"></span>
              </div>
              <div class="col-sm-3 modal-label-input">
                <label for="">Pekerjaan</label>
                <select type="text" class="form-control main-form-input form-select">
                  <option value="0"></option>
                  <option value="1">SD</option>
                  <option value="2">SMP</option>
                  <option value="3">SMA</option>
                  <option value="4">Perguruan Tinggi</option>
                </select>
                <span class="md-line"></span>
              </div>
              <div class="col-sm-6 modal-label-input p-t-23">
                <input type="text" class="form-control main-form-input" placeholder="Lainnya">
                <span class="md-line"></span>
              </div>
            </div>
            <div class="row m-b-6">
              <div class="col-sm-6 modal-label-input">
                <label for="">Institusi</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>
          </div>

          <div class="col-sm-4 p-l-25">
            <div class="row m-b-6">
              <div class="col-sm-4 modal-label-input">
                <label for="">Tinggal Bersama</label>
                <select type="text" class="form-control main-form-input form-select">
                  <option value="0"></option>
                  <option value="1">Ya</option>
                  <option value="2">Tidak</option>
                </select>
                <span class="md-line"></span>
              </div>
              <div class="col-sm-8 modal-label-input">
                <label for="">Nama</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
              <div class="col-sm-12 modal-label-input">
                <label for="">Alamat</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
              <div class="col-sm-6 modal-label-input">
                <label for="">Kabupaten / Kota</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-6 modal-label-input">
                <label for="">Kecamatan</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
              <div class="col-sm-6 modal-label-input">
                <label for="">Kelurahan / Desa</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-3 modal-label-input">
                <label for="">RT</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-3 modal-label-input">
                <label for="">RW</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-6">
              <div class="col-sm-6 modal-label-input">
                <label for="">Provinsi</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-6 modal-label-input">
                <label for="">No. Telepon</label>
                <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                <span class="md-line"></span>
              </div> 
            </div>
            
            <div class="row m-b-6">
              <div class="col-sm-6 modal-label-info">
                <label for="">Tanggal Registrasi</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

          </div>
        </div>
        
        <div class="row m-l-0 m-b-0 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
          <div class="col-sm-4 m-t-10 p-l-10"></div>
          <div class="col-sm-4 m-t-10 p-l-10"></div>
          <div class="col-sm-4 m-t-10 p-l-10 text-right">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
              <button type="button" (click)="pasienTerdaftar.show()" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-save"></i> Simpan
              </button>
              <button type="button" (click)="backClicked()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-ui-close"></i> Batal
              </button>
            </div>
          </div>
        </div>

      </div>
    </app-card>

  </div>
</div>

<app-modal-basic #pasienTerdaftar [dialogClass]="'modal-md modal-lg-2'">

    <div class="app-modal-body modal-body-input">

      <div class="row m-l-0 m-r-0 m-b-10 p-b-10">
        <div class="col-sm-12 modal-label-info text-center">
          <h4 for="">Pasien Telah Terdaftar</h4>
        </div>
        <div class="col-sm-12 modal-label-info text-center">
          <h4 for="">No. RM : <span> 000112 </span></h4>
        </div>
      </div>
      <div class="row m-l-0 m-r-0 m-b-0 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
        <div class="col-sm-12 m-t-10 p-l-10 text-center">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
                <button type="button" (click)="pasienTerdaftar.hide()" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-thumbs-up"></i> OK
                </button>
            </div>
        </div>
      </div>
    </div>
</app-modal-basic>

    


