<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
        
    <app-card>
    
      <div class="row">
        <div class="col-sm-12 menu-headline m-t-3 m-b-10 p-0">
          Identitas Pasien
        </div>
      </div>

      <div class="app-modal-body modal-body-input">
        <div class="row">

          <div class="col-sm-12 p-r-25">
            <div class="row m-b-10 p-b-10" style="border-bottom: 1px solid #dde2ee;">
              <div class="col-sm-4 modal-label-input">
                  <label for="">Pencarian</label>
                  <input type="text" class="form-control main-form-input" placeholder="Pencarian">
                  <span class="md-line"></span>
              </div>
              <div class="col-sm-2 modal-label-input p-t-23">
                <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                  <button type="button" class="btn btn-primary btn-md btn-round btn-main waves-effect waves-light"><i class="icofont icofont-search"></i> Pencarian</button>
                </div>
              </div>
            </div>             
          </div>

          <div class="col-sm-8 p-r-25" style="border-right: 1px solid #dde2ee;">

              <div class="row m-b-10">
                  <div class="col-sm-3 modal-label-input">
                      <label for="">Nomor Kartu</label>
                      <input type="text" class="form-control main-form-input" placeholder="">
                      <span class="md-line"></span>
                  </div>
                  <div class="col-sm-3 modal-label-input">
                      <label for="">Nomor RM</label>
                      <input type="text" class="form-control main-form-input" placeholder="">
                      <span class="md-line"></span>
                  </div>
                  <div class="col-sm-6 modal-label-input">
                      <label for="">Nomor KTP</label>
                      <input type="text" class="form-control main-form-input" placeholder="">
                      <span class="md-line"></span>
                  </div>
              </div>

              <div class="row m-b-10">
                  <div class="col-sm-12 modal-label-input">
                      <label for="">Nama Lengkap Pasien</label>
                      <input type="text" class="form-control main-form-input" placeholder="">
                      <span class="md-line"></span>
                  </div>
              </div>

              <div class="row m-b-10">
                  <div class="col-sm-3 modal-label-input">
                      <label for="">Jenis Kelamin</label>
                      <select type="text" class="form-control main-form-input form-select">
                        <option value="0"></option>
                        <option value="1">Laki - Laki</option>
                        <option value="2">Perempuan</option>
                      </select>
                      <span class="md-line"></span>
                  </div>
                  <div class="col-sm-3 modal-label-input">
                      <label for="">Tempat</label>
                      <input type="text" class="form-control main-form-input" placeholder="">
                      <span class="md-line"></span>
                  </div>
                  <div class="col-sm-3 modal-label-input">
                      <label for="">Tanggal Lahir</label>
                      <input type="" class="form-control main-form-input" placeholder="">
                      <span class="md-line"></span>
                  </div>
                  <div class="col-sm-3 modal-label-input">
                      <label for="">Usia</label>
                      <input type="" class="form-control main-form-input" placeholder="" disabled>
                      <span class="md-line"></span>
                  </div>
              </div>

              <div class="row m-b-10">
                <div class="col-sm-3 modal-label-input">
                    <label for="">Status Pernikahan</label>
                    <select type="text" class="form-control main-form-input form-select">
                      <option value="0"></option>
                      <option value="1">Kawin</option>
                      <option value="2">Tidak Kawin</option>
                    </select>
                    <span class="md-line"></span>
                </div>
                <div class="col-sm-3 modal-label-input">
                  <label for="">Agama</label>
                  <select type="text" class="form-control main-form-input form-select">
                    <option value="0"></option>
                    <option value="1">Islam</option>
                    <option value="2">Kristen Katolik</option>
                    <option value="3">Kristen Protestan</option>
                    <option value="4">Budha</option>
                    <option value="5">Hindu</option>
                    <option value="6">Lainnya</option>
                  </select>
                  <span class="md-line"></span>
                </div>
                <div class="col-sm-3 modal-label-input p-t-23">
                  <input type="text" class="form-control main-form-input" placeholder="Lainnya">
                  <span class="md-line"></span>
                </div>
                <div class="col-sm-3 modal-label-input">
                    <label for="">Golongan Darah</label>
                    <select type="text" class="form-control main-form-input form-select">
                      <option value="0"></option>
                      <option value="1">A</option>
                      <option value="2">B</option>
                      <option value="3">O</option>
                      <option value="4">AB</option>
                    </select>
                    <span class="md-line"></span>
                  </div>
              </div>

              <div class="row m-b-10">
                  <div class="col-sm-3 modal-label-input">
                    <label for="">Pendidikan Terakhir</label>
                    <select type="text" class="form-control main-form-input form-select">
                      <option value="0"></option>
                      <option value="1">SD</option>
                      <option value="2">SMP</option>
                      <option value="3">SMA</option>
                      <option value="4">Perguruan Tinggi</option>
                    </select>
                    <span class="md-line"></span>
                  </div>
                  <div class="col-sm-3 modal-label-input">
                    <label for="">Pekerjaan</label>
                    <select type="text" class="form-control main-form-input form-select">
                      <option value="0"></option>
                      <option value="1">SD</option>
                      <option value="2">SMP</option>
                      <option value="3">SMA</option>
                      <option value="4">Perguruan Tinggi</option>
                    </select>
                    <span class="md-line"></span>
                  </div>
                  <div class="col-sm-6 modal-label-input p-t-23">
                    <input type="text" class="form-control main-form-input" placeholder="Lainnya">
                    <span class="md-line"></span>
                  </div>
              </div>
              <div class="row m-b-10">
                  <div class="col-sm-6 modal-label-input">
                      <label for="">Institusi</label>
                      <input type="text" class="form-control main-form-input" placeholder="">
                      <span class="md-line"></span>
                  </div>
              </div>
          </div>

          <div class="col-sm-4 p-l-25">
            
            <div class="row m-b-10">
              <div class="col-sm-4 modal-label-input">
                <label for="">Tinggal Bersama</label>
                <select type="text" class="form-control main-form-input form-select">
                  <option value="0"></option>
                  <option value="1">Ya</option>
                  <option value="2">Tidak</option>
                </select>
                <span class="md-line"></span>
              </div>
              <div class="col-sm-8 modal-label-input">
                <label for="">Nama</label>
                <input type="text" class="form-control main-form-input" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-b-10">
                <div class="col-sm-6 modal-label-input">
                    <label for="">Kabupaten / Kota</label>
                    <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                    <span class="md-line"></span>
                </div>
                <div class="col-sm-6 modal-label-input">
                    <label for="">Kecamatan</label>
                    <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                    <span class="md-line"></span>
                </div>
            </div>
            <div class="row m-b-10">
                <div class="col-sm-6 modal-label-input">
                    <label for="">Kelurahan / Desa</label>
                    <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                    <span class="md-line"></span>
                </div>
                <div class="col-sm-3 modal-label-input">
                    <label for="">RT</label>
                    <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                    <span class="md-line"></span>
                </div>
                <div class="col-sm-3 modal-label-input">
                    <label for="">RW</label>
                    <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                    <span class="md-line"></span>
                </div>
            </div>

            <div class="row m-b-10">
                <div class="col-sm-12 modal-label-input">
                    <label for="">Alamat</label>
                    <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                    <span class="md-line"></span>
                </div>
            </div>

            <div class="row m-b-10">
                <div class="col-sm-6 modal-label-input">
                    <label for="">No. Telepon</label>
                    <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                    <span class="md-line"></span>
                </div>
            </div>

          </div>
        </div>
        
        <div class="row m-b-10 align-items-end m-t-10" style="border-top: 1px solid #dde2ee; ">
            <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
            <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
            <div class="col-sm-4 m-t-10 p-l-10 text-right">
                <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
                    <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light"><i class="icofont icofont-save"></i> Simpan</button>
                    <button type="button" [routerLink]="['/rekam-medis']" class="btn btn-danger btn-sm btn-main waves-effect waves-light"><i class="icofont icofont-ui-close"></i> Batal</button>
                </div>
            </div>
        </div>

      </div>
    </app-card>

  </div>
</div>
    


