<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
    
    <app-card>

      <div class="row">
        <div class="col-sm-12 menu-headline m-t-10 m-b-6 p-0">
          Data Karyawan
        </div>
      </div>

      <div class="row align-items-end m-b-15">
        <div class="col-sm-4 modal-label-info m-t-10 p-0">
            <label for="">Pencarian</label>
            <input type="text" class="form-control main-form-input" placeholder="Nomor Induk">
            <span class="md-line"></span>
        </div>
        <div class="col-sm-4 m-t-10 p-l-10">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" routerLink="/" class="btn btn-primary btn-md btn-round btn-block btn-main waves-effect text-center m-w-30">
              <i class="icofont icofont-search"></i> Cari
            </button>
          </div>
        </div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" (click)="tambahKaryawan.show()" class="btn btn-primary btn-md bt-round btn-round btn-main-grey waves-effect waves-light m-w-30">
              <i class="icofont icofont-ui-add"></i> Tambah</button>
            <button type="button" class="btn btn-primary btn-md btn-round btn-main-grey waves-effect waves-light m-w-30"> 
              <i class="icofont icofont-refresh"></i> Bersih</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 m-t-10 p-0">
          <div class="table-responsive">
            <table class="table table-xs table-hover table-custom" id="example-2">
              <thead>
                <tr>
                  <th>NIK</th>
                  <th>Nama Lengkap</th>
                  <th>Alamat</th>
                  <th>No. Telpon</th>
                  <th>Tgl. Masuk</th>
                  <th>Aktif</th>
                  <th>Opsi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">0000198</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Andreas Perdana</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">-</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">0877 2218 4300</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">10/10/2010</span>
                  </td>
                  <td class="checkbox-fade checkbox-table fade-in-primary m-b-0">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                    </label>
                  </td>
                  <td>
                    <button type="button" (click)="detailKaryawan.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">0000398</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Junaedi Juan</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">-</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">0877 2348 9800</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">10/10/2002</span>
                  </td>
                  <td class="checkbox-fade checkbox-table fade-in-primary m-b-0">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                    </label>
                  </td>
                  <td>
                    <button type="button" (click)="detailKaryawan.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Detail</button>
                  </td>
                </tr>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">0910000</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Mahmudin</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">-</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">0878 6787 1000</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">10/09/2010</span>
                  </td>
                  <td class="checkbox-fade checkbox-table fade-in-primary m-b-0">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                    </label>
                  </td>
                  <td>
                    <button type="button" (click)="detailKaryawan.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Detail</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-info-table text-right">
          Jumlah Data : <span>3</span>
        </div>
      </div>

    </app-card>

  </div>
</div>

<app-modal-basic #tambahKaryawan [dialogClass]="'modal-lg modal-lg-2'">

    <div class="app-modal-header">
      <div class="modal-header-info text-left">
        <p>Tambah Karyawan</p>
      </div>
    </div>

    <div class="app-modal-body modal-body-input">

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-4 modal-label-info">
            <label for="">Nomor Induk Karyawan</label>
            <input type="text" class="form-control main-form-input" placeholder="Nomor Induk Karyawan">
            <span class="md-line"></span>
        </div>    
      </div>

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-4 modal-label-info">
            <label for="">No. KTP</label>
            <input type="text" class="form-control main-form-input" placeholder="No. KTP">
            <span class="md-line"></span>
        </div>
        <div class="col-sm-8 modal-label-info">
            <label for="">Nama Lengkap</label>
            <input type="text" class="form-control main-form-input" placeholder="Nama Lengkap">
            <span class="md-line"></span>           
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-4 modal-label-info">
            <label for="">Tempat </label>
            <input type="text" class="form-control main-form-input" placeholder="Tempat Lahir">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-4 modal-label-info">
            <label for="">Tanggal Lahir</label>
            <input type="text" class="form-control main-form-input" placeholder="Tanggal Lahir">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-4 modal-label-info">
            <label for="">Usia</label>
            <input type="text" class="form-control main-form-input" placeholder="Usia">
            <span class="md-line"></span>           
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-4 modal-label-info">
            <label for="">Jenis Kelamin</label>
            <select type="text" class="form-control main-form-input form-select">
              <option value="0"></option>
              <option value="1">Laki - laki</option>
              <option value="2">Perempuan</option>
            </select>
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-4 modal-label-info">
            <label for="">Agama</label>
            <select type="text" class="form-control main-form-input form-select">
              <option value="0"></option>
              <option value="1">Islam</option>
              <option value="2">Kristen Katolik</option>
              <option value="3">Kristen Protestan</option>
              <option value="4">Budha</option>
              <option value="5">Hindu</option>
              <option value="6">Lainnya</option>
            </select>
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-4 modal-label-info">
            <label for="">Status Perkawinan</label>
            <select type="text" class="form-control main-form-input form-select">
              <option value="0"></option>
              <option value="1">Kawin</option>
              <option value="2">Belum Kawin</option>
            </select>
            <span class="md-line"></span>           
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-12 modal-label-info">
            <label for="">Alamat Lengkap </label>
            <input type="text" class="form-control main-form-input" placeholder="Alamat Lengkap">
            <span class="md-line"></span>           
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-4 modal-label-info">
            <label for="">Desa / Kelurahan </label>
            <input type="text" class="form-control main-form-input" placeholder="Desa / Kelurahan">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-2 modal-label-info">
            <label for="">No. </label>
            <input type="text" class="form-control main-form-input" placeholder="No.">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-2 modal-label-info">
            <label for="">RT. </label>
            <input type="text" class="form-control main-form-input" placeholder="RT.">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-2 modal-label-info">
            <label for="">RW. </label>
            <input type="text" class="form-control main-form-input" placeholder="RW.">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-2 modal-label-info">
            <label for="">No. Telp </label>
            <input type="text" class="form-control main-form-input" placeholder="No. Telp">
            <span class="md-line"></span>           
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-4 modal-label-info">
            <label for="">Kecamatan </label>
            <input type="text" class="form-control main-form-input" placeholder="Kecamatan">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-4 modal-label-info">
            <label for="">Kabupaten / Kota </label>
            <input type="text" class="form-control main-form-input" placeholder="Kabupaten / Kota">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-4 modal-label-info">
            <label for="">Provinsi </label>
            <input type="text" class="form-control main-form-input" placeholder="Provinsi">
            <span class="md-line"></span>           
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-4 modal-label-info">
            <label for="">Kode POS</label>
            <input type="text" class="form-control main-form-input" placeholder="Kode POS">
            <span class="md-line"></span>           
        </div>
        <div class="col-sm-4 modal-label-info">
            <label for="">Tanggal Masuk Kerja </label>
            <input type="text" class="form-control main-form-input" placeholder="Tanggal Masuk Kerja">
            <span class="md-line"></span>           
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-0 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
                <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-ui-add"></i> Tambah Karyawan
                </button>
                <button type="button" (click)="tambahKaryawan.hide()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-ui-close"></i> Batal
                </button>
            </div>
        </div>
      </div>
    </div>
</app-modal-basic>

<app-modal-basic #detailKaryawan [dialogClass]="'modal-lg modal-lg-2'">

  <div class="app-modal-header">
    <div class="modal-header-info text-left">
      <p>Informasi Karyawan</p>
    </div>
  </div>

  <div class="app-modal-body modal-body-input">

    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-4 modal-label-info">
          <label for="">Nomor Induk Karyawan</label>
          <input type="text" class="form-control main-form-input" placeholder="Nomor Induk Karyawan">
          <span class="md-line"></span>
      </div>
      
    </div>

    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-4 modal-label-info">
          <label for="">No. KTP</label>
          <input type="text" class="form-control main-form-input" placeholder="No. KTP">
          <span class="md-line"></span>
      </div>
      <div class="col-sm-8 modal-label-info">
          <label for="">Nama Lengkap</label>
          <input type="text" class="form-control main-form-input" placeholder="Nama Lengkap">
          <span class="md-line"></span>           
      </div>
    </div>

    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-4 modal-label-info">
          <label for="">Tempat </label>
          <input type="text" class="form-control main-form-input" placeholder="Tempat Lahir">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-4 modal-label-info">
          <label for="">Tanggal Lahir</label>
          <input type="text" class="form-control main-form-input" placeholder="Tanggal Lahir">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-4 modal-label-info">
          <label for="">Usia</label>
          <input type="text" class="form-control main-form-input" placeholder="Usia">
          <span class="md-line"></span>           
      </div>
    </div>

    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-4 modal-label-info">
          <label for="">Jenis Kelamin</label>
          <select type="text" class="form-control main-form-input form-select">
            <option value="0"></option>
            <option value="1">Laki - laki</option>
            <option value="2">Perempuan</option>
          </select>
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-4 modal-label-info">
          <label for="">Agama</label>
          <select type="text" class="form-control main-form-input form-select">
            <option value="0"></option>
            <option value="1">Islam</option>
            <option value="2">Kristen Katolik</option>
            <option value="3">Kristen Protestan</option>
            <option value="4">Budha</option>
            <option value="5">Hindu</option>
            <option value="6">Lainnya</option>
          </select>
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-4 modal-label-info">
          <label for="">Status Perkawinan</label>
          <select type="text" class="form-control main-form-input form-select">
            <option value="0"></option>
            <option value="1">Kawin</option>
            <option value="2">Belum Kawin</option>
          </select>
          <span class="md-line"></span>           
      </div>
    </div>

    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-12 modal-label-info">
          <label for="">Alamat Lengkap </label>
          <input type="text" class="form-control main-form-input" placeholder="Alamat Lengkap">
          <span class="md-line"></span>           
      </div>
    </div>

    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-4 modal-label-info">
          <label for="">Desa / Kelurahan </label>
          <input type="text" class="form-control main-form-input" placeholder="Desa / Kelurahan">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-2 modal-label-info">
          <label for="">No. </label>
          <input type="text" class="form-control main-form-input" placeholder="No.">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-2 modal-label-info">
          <label for="">RT. </label>
          <input type="text" class="form-control main-form-input" placeholder="RT.">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-2 modal-label-info">
          <label for="">RW. </label>
          <input type="text" class="form-control main-form-input" placeholder="RW.">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-2 modal-label-info">
          <label for="">No. Telp </label>
          <input type="text" class="form-control main-form-input" placeholder="No. Telp">
          <span class="md-line"></span>           
      </div>
    </div>

    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-4 modal-label-info">
          <label for="">Kecamatan </label>
          <input type="text" class="form-control main-form-input" placeholder="Kecamatan">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-4 modal-label-info">
          <label for="">Kabupaten / Kota </label>
          <input type="text" class="form-control main-form-input" placeholder="Kabupaten / Kota">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-4 modal-label-info">
          <label for="">Provinsi </label>
          <input type="text" class="form-control main-form-input" placeholder="Provinsi">
          <span class="md-line"></span>           
      </div>
    </div>

    <div class="row m-l-0 m-r-0 m-b-6">
      <div class="col-sm-4 modal-label-info">
          <label for="">Kode POS</label>
          <input type="text" class="form-control main-form-input" placeholder="Kode POS">
          <span class="md-line"></span>           
      </div>
      <div class="col-sm-4 modal-label-info">
          <label for="">Tanggal Masuk Kerja </label>
          <input type="text" class="form-control main-form-input" placeholder="Tanggal Masuk Kerja">
          <span class="md-line"></span>           
      </div>
    </div>

    <div class="row m-l-0 m-r-0 m-b-0 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
      <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
      <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
      <div class="col-sm-4 m-t-10 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
              <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-save"></i> Simpan Perubahan
              </button>
              <button type="button" (click)="detailKaryawan.hide()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-ui-close"></i> Batal
              </button>
          </div>
      </div>
    </div>
  </div>
</app-modal-basic>