<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">

    <app-card>
      <div class="row">
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/poliklinik/pendaftaran" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/pendaftaran_pasien.png" class="img-btn"/>
            <span class="text-btn">Pendaftaran Poli</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/poliklinik/tanda-vital" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/cek_tanda_vital.png" class="img-btn"/>
            <span class="text-btn">Periksa<br>Tanda Vital</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/poliklinik/pemeriksaan-pasien" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/lap_pemeriksaan.png" class="img-btn"/>
            <span class="text-btn">Pemeriksaan<br>Pasien</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/poliklinik/lap-jumlah-pasien" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/laporan.png" class="img-btn"/>
            <span class="text-btn">Lap. Jumlah<br>Pasien</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/poliklinik/rujuk-luar" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/rujukan_luar.png" class="img-btn"/>
            <span class="text-btn">Rujukan Luar</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/poliklinik/lap-rujuk-luar" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/laporan.png" class="img-btn"/>
            <span class="text-btn">Lap. Rujukan Luar<br>Pasien</span>
          </a>
        </div>
      </div>
    </app-card>

  </div>
</div>
