<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
    
    <app-card>

      <div class="row">
        <div class="col-sm-12 menu-headline m-t-10 m-b-20 p-0">
          Data Penyakit ( ICD 9 )
        </div>
      </div>

      <div class="row align-items-end m-b-15">
        <div class="col-sm-4 modal-label-info m-t-10 p-0">
            <label for="">Pencarian</label>
            <input type="text" class="form-control main-form-input" placeholder="Kode ICD 9">
            <span class="md-line"></span>
        </div>
        <div class="col-sm-4 m-t-10 p-l-10">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" routerLink="/" class="btn btn-primary btn-md btn-round btn-block btn-main waves-effect text-center m-w-30">
              <i class="icofont icofont-search"></i> Cari
            </button>
          </div>
        </div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" (click)="tambahICD9.show()" class="btn btn-primary btn-md btn-round btn-main waves-effect waves-light m-w-30">
              <i class="icofont icofont-ui-add"></i> Tambah</button>
            <button type="button" class="btn btn-primary btn-md btn-round btn-main-grey waves-effect waves-light m-w-30"> 
              <i class="icofont icofont-refresh"></i> Bersih</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 m-t-10 p-0">
          <div class="table-responsive">
            <table class="table table-xs table-hover table-custom" id="example-2">
              <thead>
                <tr>
                  <th width="10%">Kode</th>
                  <th>Nama Penyakit ( ICD 9 )</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">A00.9</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Cholera / Unspecified</span>
                  </td>
                </tr>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">A02.0</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Salmonela Enteritis</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-info-table text-right">
          Jumlah Data : <span>2</span>
        </div>
      </div>

    </app-card>

  </div>
</div>
<app-modal-basic #tambahICD9 [dialogClass]="'modal-lg modal-lg-2'">

    <div class="app-modal-header">
      <div class="modal-header-info text-left">
        <p>Tambah Klasifikasi</p>
      </div>
    </div>

    <div class="app-modal-body modal-body-input">

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-3 modal-label-info">
            <label for="">Kode ICD 9</label>
            <input type="text" class="form-control main-form-input" placeholder="Kode ICD 9">
            <span class="md-line"></span>
        </div>
        <div class="col-sm-9 modal-label-info">
            <label for="">Nama Penyakit</label>
            <input type="text" class="form-control main-form-input" placeholder="Nama Penyakit">
            <span class="md-line"></span>
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-0 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
                <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-ui-add"></i> Tambah ICD 9
                </button>
                <button type="button" (click)="tambahICD9.hide()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-ui-close"></i> Batal
                </button>
            </div>
        </div>
      </div>

    </div>
</app-modal-basic>