<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
      
    <app-card>
  
      <div class="row">
        <div class="col-sm-12 menu-headline m-t-10 m-b-10 p-0">
          Konsultasi dan Tindakan Poliklinik
        </div>
      </div>
  
      <div class="row p-t-6 p-r-0 p-l-0" style="border: 1px solid #edeff5; border-radius:10px;">

        <div class="col-sm-12 p-t-6 p-r-0 p-l-0">
          <div class="col-sm-12 p-t-6">
            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-12 modal-label-info">
                <label for="" style="color: #00796b; font-size: 13px;">Identitas Pasien</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 p-r-0 p-l-0">
          <div class="col-sm-12">

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Tgl. Kunj | No. Daftar</label><span>:</span>
              </div>
              <div class="col-sm-3 modal-label-info label-100">
                <label for=""> 11/02/2019</label>
              </div>
              <div class="col-sm-5 modal-label-info label-100">
                <label for=""> POLI/2019/02/001</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">No. RM | Nama Pasien</label><span>:</span>
              </div>
              <div class="col-sm-3 modal-label-info label-100">
                <label for=""> 11/02/2019</label>
              </div>
              <div class="col-sm-5 modal-label-info label-100">
                <label for=""> ANDREAS PERDANA</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Tgl Lahir | Umur | JK</label><span>:</span>
              </div>
              <div class="col-sm-3 modal-label-info label-100">
                <label for=""> 29/06/1992</label>
              </div>
              <div class="col-sm-3 modal-label-info label-100">
                <label for=""> 26 Thn</label>
              </div>
              <div class="col-sm-2 modal-label-info label-100">
                <label for=""> L</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Dokter</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> Alfi Laeliyah, dr</label>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-6 p-r-0">
          <div class="col-sm-12">

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-3 modal-label-info span-right">
                <label for="">Klasifikasi | Poli</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> BPJS</label>
              </div>
              <div class="col-sm-5 modal-label-info label-100">
                <label for=""> Poli Umum</label>
              </div>
            </div>
            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-3 modal-label-info span-right p-t-5">
                <label for="">Diagnosa</label><span>:</span>
              </div>
              <div class="col-sm-9 modal-label-info">
                <textarea class="form-control main-form-input b-r-5 text-left" id="exampleTextarea" rows="5"></textarea>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row p-t-6 p-r-0 p-l-0">          
        <div class="col-sm-12 p-r-0 p-l-0">
          <div class="col-sm-12">

            <div class="row m-l-0 m-r-0 m-b-6 ">
              <div class="col-sm-2 modal-label-info span-right p-t-5">
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; 0 - 7 Hari
                  </label>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; 8 - 28 Hari
                  </label>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; 29 Hari - 1 Tahun
                  </label>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; 1 - 4 Tahun
                  </label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6 ">
              <div class="col-sm-2 modal-label-info span-right p-t-5">
                <label for="">Umur Pasien</label><span class="p-r-5">:</span>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; 5 - 9 Tahun
                  </label>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; 10 - 14 Tahun
                  </label>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; 15 - 19 Tahun
                  </label>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; 20 - 44 Tahun
                  </label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6 ">
              <div class="col-sm-2 modal-label-info span-right p-t-5">
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; 45 - 54 Tahun
                  </label>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; 55 - 59 Tahun
                  </label>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; 60 - 69 Tahun
                  </label>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; >= 70 Tahun
                  </label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6 ">
              <div class="col-sm-2 modal-label-info span-right p-t-5">
                <label for="">Kunjungan</label><span class="p-r-5">:</span>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; Lama
                  </label>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; Baru
                  </label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6 ">
              <div class="col-sm-2 modal-label-info span-right p-t-5">
                <label for="">Kode ICD | Tindakan</label><span class="p-r-5">:</span>
              </div>
              <div class="col-sm-2 modal-label-input p-l-10">
                <input type="text" class="form-control main-form-input b-r-5" placeholder="">
                <span class="md-line"></span>
              </div>
              <div class="col-sm-8 modal-label-input p-l-10">
                <input type="text" class="form-control main-form-input b-r-5" placeholder="">
                <span class="md-line"></span>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6 ">
              <div class="col-sm-2 modal-label-info span-right p-t-5">
                <label for="">Kasus</label><span class="p-r-5">:</span>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; Lama
                  </label>
              </div>
              <div class="col-sm-2 modal-label-input checkbox-fade checkbox-table fade-in-primary m-b-0 p-t-5"style="margin-right: 0 !important;">
                  <label class="p-t-3">
                    <input type="checkbox" value="">
                    <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span> &nbsp;&nbsp; Baru
                  </label>
              </div>
            </div>
          
          </div>
        </div>
      </div>
      
      <div class="row m-l-0 m-r-0 m-b-0 m-t-5 align-items-end" style="border-top: 1px solid #dde2ee;">
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
              <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-check"></i> Proses
              </button>
              <button type="button" (click)="backClicked()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-ui-close"></i> Batal
              </button>
            </div>
        </div>
      </div>

    </app-card>
  
  </div>
</div>

  
   
