<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
      
    <app-card>
  
      <div class="row">
        <div class="col-sm-12 menu-headline m-t-10 m-b-10 p-0">
          Pendaftaran Pasien
        </div>
      </div>
  
      <div class="row align-items-end m-b-15">
        <div class="col-sm-7 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-5 m-t-10 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" [routerLink]="['/poliklinik/identitas-pasien']" class="btn btn-primary btn-md btn-round btn-main waves-effect waves-light m-w-30"> 
              <i class="icofont icofont-ui-file"></i> Daftar Identitas
            </button>
            <button type="button" [routerLink]="['/poliklinik/daftar-poli']" class="btn btn-primary btn-md btn-round btn-main waves-effect waves-light m-w-30"> 
              <i class="icofont icofont-stethoscope"></i> Daftar Poliklinik
            </button>
            <button type="button" class="btn btn-primary btn-md btn-round btn-main-grey waves-effect waves-light m-w-30"> 
                <i class="icofont icofont-refresh"></i> Refresh
              </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 m-t-10 p-0">
          <div class="table-responsive">
            <table class="table table-xs table-hover table-custom" id="example-2">
              <thead>
                <tr>
                  <th>#</th>
                  <th>No</th>
                  <th>No. Urut Poli</th>
                  <th>No. Daftar</th>
                  <th>No. RM</th>
                  <th>Nama Pasien</th>
                  <th>Umur</th>
                  <th>JK</th>
                  <th>Klasifikasi</th>
                  <th>Dokter</th>
                  <th>Poli</th>
                  <th width="8%">Opsi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="lingkaran lingkaran3"></div>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">1</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">u01</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/U/001</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">000123</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Andreas Perdana</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">25 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">L</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Alfi Laeleyah, dr</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Umum</span></td>
                  <td class="btn-group-table">
                    <button type="button" class="btn btn-primary btn-outline-info btn-sm btn-main btn-main-table waves-effect waves-light" disabled="disabled">
                      <i class="icofont icofont-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-outline-danger btn-sm btn-main btn-main-table waves-effect waves-light" disabled="disabled">
                      <i class="icofont icofont-close"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="lingkaran lingkaran3"></div>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">2</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">k01</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/K/001</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">002345</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Sumiyati</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">29 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">P</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Rusnati, dr, SpOG</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Spesialis Kebidanan</span></td>
                  <td class="btn-group-table">
                    <button type="button" class="btn btn-primary btn-outline-info btn-sm btn-main btn-main-table waves-effect waves-light" disabled="disabled">
                      <i class="icofont icofont-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-outline-danger btn-sm btn-main btn-main-table waves-effect waves-light" disabled="disabled">
                      <i class="icofont icofont-close"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="lingkaran lingkaran2"></div>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">3</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">k02</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/K/002</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">000456</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Anissa Bahar</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">20 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">P</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Pribadi</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Rusnati, dr, SpOG</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Spesialis Kebidanan</span></td>
                  <td class="btn-group-table">
                    <button type="button" class="btn btn-primary btn-outline-info btn-sm btn-main btn-main-table waves-effect waves-light" disabled="disabled">
                      <i class="icofont icofont-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-outline-danger btn-sm btn-main btn-main-table waves-effect waves-light" disabled="disabled">
                      <i class="icofont icofont-close"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="lingkaran lingkaran1"></div>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">4</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">p01</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/P/001</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">000789</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Aditya Hasibuan</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">25 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">L</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Rusdi, dr, SpPD</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Spesialis Penyakit Dalam</span></td>
                  <td class="btn-group-table">
                    <button type="button" [routerLink]="['/poliklinik/daftar-poli']" class="btn btn-primary btn-outline-info btn-sm btn-main btn-main-table waves-effect waves-light">
                      <i class="icofont icofont-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-outline-danger btn-sm btn-main btn-main-table waves-effect waves-light">
                      <i class="icofont icofont-close"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="lingkaran lingkaran0"></div>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">5</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">a01</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/A/001</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">000910</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Asmirandah</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">5 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">P</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Faisal Bahri, dr, SpA</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Spesialis Anak</span></td>
                  <td class="btn-group-table">
                    <button type="button" [routerLink]="['/poliklinik/daftar-poli']" class="btn btn-primary btn-outline-info btn-sm btn-main btn-main-table waves-effect waves-light">
                      <i class="icofont icofont-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-outline-danger btn-sm btn-main btn-main-table waves-effect waves-light">
                      <i class="icofont icofont-close"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="lingkaran lingkaran1"></div>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">6</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">p02</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/P/002</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">000011</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Komarudin</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">55 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">L</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Rusdi, dr, Sppd</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Spesialis Penyakit Dalam</span></td>
                  <td class="btn-group-table">
                    <button type="button" [routerLink]="['/poliklinik/daftar-poli']" class="btn btn-primary btn-outline-info btn-sm btn-main btn-main-table waves-effect waves-light">
                      <i class="icofont icofont-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-outline-danger btn-sm btn-main btn-main-table waves-effect waves-light">
                      <i class="icofont icofont-close"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1 text-info-table text-right p-t-3 p-l-50">
          <p class="lingkaran lingkaran1"></p>
        </div>
        <div class="col-sm-2 text-info-table p-0">
          <span>Periksa Tanda Vital Selesai</span>
        </div>
        <div class="col-sm-1 text-info-table text-right p-t-3 p-l-50">
          <p class="lingkaran lingkaran2"></p>
        </div>
        <div class="col-sm-2 text-info-table p-0">
          <span>Pemeriksaan Selesai</span>
        </div>
        <div class="col-sm-1 text-info-table text-right p-t-3 p-l-50">
          <p class="lingkaran lingkaran3"></p>
        </div>
        <div class="col-sm-2 text-info-table p-0">
          <span>Pembayaran Selesai</span>
        </div>
        <div class="col-sm-2 text-info-table text-right">
          Jumlah Data : <span>5</span>
        </div>
      </div>
  
    </app-card>
  
  </div>
</div>
 