<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
    
    <app-card>

      <div class="row">
        <div class="col-sm-12 menu-headline m-t-10 m-b-20 p-0">
          Data Klasifikasi
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-sm-8 p-l-0 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" (click)="tambahKlasifikasi.show()" class="btn btn-primary btn-md btn-main waves-effect waves-light m-w-30">
              <i class="icofont icofont-ui-add"></i> Tambah</button>
            <button type="button" class="btn btn-primary btn-md btn-main-grey waves-effect waves-light m-w-30">
              <i class="icofont icofont-refresh"></i> Refresh</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 m-t-10 p-0">
          <div class="table-responsive">
            <table class="table table-xs table-hover table-custom" id="example-2">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Klasifikasi</th>
                  <th>Aktif</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">001</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Pribadi</span>
                  </td>
                  <td class="checkbox-fade checkbox-table fade-in-primary m-b-0">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">002</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span>
                  </td>
                  <td class="checkbox-fade checkbox-table fade-in-primary m-b-0">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">003</span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Rekanan</span>
                  </td>
                  <td class="checkbox-fade checkbox-table fade-in-primary m-b-0">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr checkbox-table">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-info-table text-right">
          Jumlah Data : <span>3</span>
        </div>
      </div>

    </app-card>

  </div>
</div>

<app-modal-basic #tambahKlasifikasi [dialogClass]="'modal-lg modal-lg-2'">

    <div class="app-modal-header">
      <div class="modal-header-info text-left">
        <p>Tambah Klasifikasi</p>
      </div>
    </div>

    <div class="app-modal-body modal-body-input">

      <div class="row m-l-0 m-r-0 m-b-6">
        <div class="col-sm-2 modal-label-info">
            <label for="">ID Klasifikasi</label>
            <input type="text" class="form-control main-form-input" placeholder="ID Poli">
            <span class="md-line"></span>
        </div>
        <div class="col-sm-8 modal-label-info">
            <label for="">Nama Klasifikasi</label>
            <input type="text" class="form-control main-form-input" placeholder="Nama Poli">
            <span class="md-line"></span>
        </div>
        <div class="col-sm-2 modal-label-info">
            <label for="">Status</label>
            <select type="text" class="form-control main-form-input form-select">
              <option value="0"></option>
              <option value="1">Aktif</option>
              <option value="2">Tidak Aktif</option>
            </select>
            <span class="md-line"></span>           
        </div>
      </div>

      <div class="row m-l-0 m-r-0 m-b-0 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
                <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-ui-add"></i> Tambah Klasifikasi
                </button>
                <button type="button" (click)="tambahKlasifikasi.hide()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-ui-close"></i> Batal
                </button>
            </div>
        </div>
      </div>

    </div>
</app-modal-basic>