<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
      
    <app-card>
  
      <div class="row">          
        <div class="col-sm-6 p-t-0 p-r-0 p-l-0">
          <div class="col-sm-12 p-t-6" style="border: 1px solid #dde2ee; border-radius:10px;">

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-12 modal-label-info">
                <label for="" style="color: #00796b; font-size: 13px;">Identitas Pasien</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">No. Daftar | No. RM</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> POLI/2019/02/001</label>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> 009181</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Nama Pasien</label><span>:</span>
              </div>
              <div class="col-sm-8 modal-label-info label-100">
                <label for=""> ANDREAS PERDANA</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Tgl Lahir | Umur | JK</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> 29/06/1992</label>
              </div>
              <div class="col-sm-2 modal-label-info label-100">
                <label for=""> 26 Thn</label>
              </div>
              <div class="col-sm-2 modal-label-info label-100">
                <label for=""> L</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Klasifikasi | Poli</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> BPJS</label>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> Poli Umum</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Dokter</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> Alfi Laeliyah, dr</label>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-6 p-t-0 p-r-0">
          <div class="col-sm-12 p-t-6" style="border: 1px solid #dde2ee; border-radius:10px;">

            <div class="row m-l-0 m-r-0 m-b-6">
                <div class="col-sm-12 modal-label-info">
                <label for="" style="color: #00796b; font-size: 13px;">Tanda Vital</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">BB ( Kg ) | TB ( cm )</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> 65</label>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> 174</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Pernapasan ( x/menit )</label><span>:</span>
              </div>
              <div class="col-sm-8 modal-label-info label-100">
                <label for=""> 15</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Nadi ( x/Menit )</label><span>:</span>
              </div>
              <div class="col-sm-8 modal-label-info label-100">
                <label for=""> 55</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">TD ( mmHg ) | Suhu ( C )</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> 80/100</label>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for="">36</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Perhatian Khusus</label><span>:</span>
              </div>
              <div class="col-sm-8 modal-label-info label-100">
                <label for=""> Badan Lemes, Muka Pucat</label>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">          
        <div class="col-sm-12 p-t-6 p-r-0 p-l-0 m-t-10" style="border: 1px solid #dde2ee; border-radius:10px;">
          <div class="row m-l-0 m-r-0 m-b-6">

            <div class="col-sm-12 p-t-6">
              <div class="row m-l-0 m-r-0 m-b-6">
                <div class="col-sm-8 modal-label-info">
                  <label for="" style="color: #00796b; font-size: 13px;">Pemeriksaan</label>
                </div>
                <div class="col-sm-4 modal-label-info text-right">
                  <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                    <button type="button" class="btn btn-primary btn-md btn-main-grey waves-effect waves-light m-w-30"> 
                      <i class="icofont icofont-refresh"></i> Riwayat Pemeriksaan
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 p-t-6">              
              <div class="row m-l-0 m-r-0 m-t-10 m-b-6">
                <div class="col-sm-4 modal-label-info span-right p-t-5">
                  <label for="">Anamnesa Keluhan</label><span>:</span>
                </div>
                <div class="col-sm-8 modal-label-info">
                  <textarea class="form-control main-form-input b-r-5 text-left" id="exampleTextarea" rows="3"></textarea>
                </div>
              </div>
              
              <div class="row m-l-0 m-r-0 m-t-10 m-b-6">
                <div class="col-sm-4 modal-label-info span-right p-t-5">
                  <label for="">Anamnesa Fisik</label><span>:</span>
                </div>
                <div class="col-sm-8 modal-label-info">
                  <textarea class="form-control main-form-input b-r-5 text-left" id="exampleTextarea" rows="3"></textarea>
                </div>
              </div>

              <div class="row m-l-0 m-r-0 m-t-10 m-b-6">
                <div class="col-sm-4 modal-label-info span-right p-t-5">
                  <label for="">Diagnosa</label><span>:</span>
                </div>
                <div class="col-sm-8 modal-label-input">
                  <input type="text" class="form-control main-form-input b-r-5" placeholder="Diagnosa ICD 10">
                  <span class="md-line"></span>
                </div>
              </div>

              <div class="row m-l-0 m-r-0 m-t-10 m-b-6">  
                <div class="col-sm-4 modal-label-info span-right p-t-5">
                  <span>:</span>
                </div>
                <div class="col-sm-8 modal-label-info p-t-5">
                  <textarea class="form-control main-form-input b-r-5 text-left" id="exampleTextarea" rows="3"></textarea>
                </div>
              </div>
            </div>

            <div class="col-sm-6 p-t-6">
              <div class="row m-l-0 m-r-0 m-t-10 m-b-6">
                <div class="col-sm-4 modal-label-info span-right p-t-5">
                  <label for="">Terapi</label><span>:</span>
                </div>
                <div class="col-sm-8 modal-label-info">
                  <textarea class="form-control main-form-input b-r-5 text-left" id="exampleTextarea" rows="8"></textarea>
                </div>
              </div>

              <div class="row m-l-0 m-r-0 m-t-5 m-b-6">
                <div class="col-sm-4"></div>
                <div class="col-sm-8 modal-label-info">
                  <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                    <button type="button" class="btn btn-primary btn-md btn-main-grey m-w-7 waves-effect waves-light">R/</button>
                    <button type="button" class="btn btn-primary btn-md btn-main-grey m-w-7 waves-effect waves-light">S</button>
                    <button type="button" class="btn btn-primary btn-md btn-main-grey m-w-7 waves-effect waves-light">TAB</button>
                    <button type="button" class="btn btn-primary btn-md btn-main-grey m-w-7 waves-effect waves-light">Garis Batas R/</button>
                  </div>
                </div>
              </div>

              <div class="row m-l-0 m-r-0 m-t-10 m-b-10">
                <div class="col-sm-4 modal-label-info span-right p-t-5">
                  <label for="">Tindakan Lain - lain</label><span>:</span>
                </div>
                <div class="col-sm-8 modal-label-info">
                  <textarea class="form-control main-form-input b-r-5 text-left" id="exampleTextarea" rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <div class="row m-l-0 m-r-0 m-b-0 m-t-5 align-items-end">
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
            <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
                <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-check"></i> Proses
                </button>
                <button type="button" [routerLink]="['/poliklinik/pemeriksaan-pasien']" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                  <i class="icofont icofont-ui-close"></i> Batal
                </button>
            </div>
        </div>
      </div>

    </app-card>
  
  </div>
</div>

  
   
