<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" vertical-nav-type="collapsed" [attr.pcoded-device-type]="deviceType"  [attr.vertical-effect]="verticalEffect" vnavigation-view="view1">
  <!--[attr.vertical-nav-type]="verticalNavType"-->
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">

    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav id="main_navbar" class=" pcoded-navbar" navbar-theme="theme1" active-item-theme="theme5" sub-item-theme="theme2" active-item-style="style0" pcoded-navbar-position="fixed"  (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'">
         
          <div class="sidebar_toggle">
            <a href="javascript:;"><i class="icon-close icons"></i></a>
          </div>

          <div class="pcoded-inner-navbar main-menu" appAccordion slimScroll width="100%" height="100%" size="4px" color="#fff" opacity="0.3" allowPageScroll="false">
            <div class="">
              <div class="main-menu-header">
                <img class="" src="assets/images/user.png" alt="User-Profile-Image" placement="right" ngb+Tooltip="Username">
              </div>
            </div>

            <div>
            <div *ngFor="let asideItems of menuItems.getAll()">
              <div class="pcoded-navigatio-lavel" menu-title-theme="theme5" >
                {{asideItems.label}}
              </div>
              <ul class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid" subitem-border="solid" *ngFor="let asideItem of asideItems.main" appAccordionLink group="{{asideItem.state}}">
                <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'external'" appAccordionLink group="{{asideItem.state}}"  placement="right" ngbTooltip="{{ asideItem.name }}">
                  <a href="{{asideItem.external}}" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle >
                    <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                    <!-- <span class="pcoded-mtext">{{ asideItem.name }}</span> -->
                    <!-- <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span> -->
                    <!-- <span class="pcoded-mcaret"></span> -->
                  </a>
                </li>
                <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink group="{{asideItem.state}}"  placement="right" ngbTooltip="{{ asideItem.name }}">
                  <a [routerLink]="['/', asideItem.main_state, asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle *ngIf="asideItem.main_state; else: mainContent">
                    <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                    <!-- <span class="pcoded-mtext">{{ asideItem.name }}</span> -->
                    <!-- <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span> -->
                    <!-- <span class="pcoded-mcaret"></span> -->
                  </a>
                  <ng-template #mainContent>
                    <a [routerLink]="['/', asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                      <!-- <span class="pcoded-mtext">{{ asideItem.name }}</span> -->
                      <!-- <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span> -->
                      <!-- <span class="pcoded-mcaret"></span> -->
                    </a>
                  </ng-template>
                </li>                
                <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="{{asideItem.state}}">
                  <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                    <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                    <!-- <span class="pcoded-mtext">{{ asideItem.name }}</span> -->
                    <!-- <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span> -->
                    <!-- <span class="pcoded-mcaret"></span> -->
                  </a>
                  
                  <ul class="pcoded-submenu">
                    <ng-template ngFor let-asideChildren [ngForOf]="asideItem.children">
                    <li [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'">
                      <a [routerLink]="['/', asideItem.state, asideChildren.state]" target="{{asideChildren.target ? '_blank' : '_self'}}">
                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                        <!-- <span class="pcoded-mtext">{{ asideChildren.name }} </span> -->
                        <!-- <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span> -->
                        <!-- <span class="pcoded-mcaret"></span> -->
                      </a>
                    </li>
                    <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6" *ngIf="asideChildren.type === 'sub'" appAccordionLink group="sub-toggled">
                      <a href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
                        <!-- <span class="pcoded-mtext">{{ asideChildren.name }}</span> -->
                        <!-- <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span> -->
                        <!-- <span class="pcoded-mcaret"></span> -->
                      </a>
                      <ul class="pcoded-submenu">
                        <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.children">
                          <li [routerLinkActive]="['active']" >
                            <a [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]" target="{{asideChildrenSub.target ? '_blank' : '_self'}}">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <!-- <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span> -->
                              <!-- <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge" class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span> -->
                              <!-- <span class="pcoded-mcaret"></span> -->
                            </a>
                          </li>
                        </ng-template>
                      </ul>                      
                    </li>
                    </ng-template>
                  </ul>
                </li>
                
              </ul>

            </div>
            </div>
            
          </div>
        </nav>

        <div class="pcoded-content">
          <div class="flex-container">

            <div class="sub-layout-menu">
              <div class="sub-menu-header">
                <h5>MENU</h5>
              </div>
              <div class="sub-menu-body">
                <app-sub-menu></app-sub-menu>
              </div>
            </div>

            <div class="pcoded-inner-content">
              <div class="main-body">
                <div class="page-wrapper">
                  <app-title></app-title>
                  <app-breadcrumbs></app-breadcrumbs>
                  <div class="page-body">
                    <router-outlet><spinner></spinner></router-outlet>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <go-top-button [html]="htmlButton"
               [animate]="true"
               [speed]="50"
               [acceleration]="2"
               [scrollDistance]="100"
               [styles]="{
                    'right': '50px',
                    'bottom': '50px',
                    'top': 'auto',
                    'left': 'auto',
                    'width': 'auto',
                    'height': 'auto',
                    'background' : 'transparent'
                 }">
</go-top-button> -->
