<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">

    <app-card>
      <div class="row">

        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/karyawan" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/penjualan_obat.png" class="img-btn"/>
            <span class="text-btn">Penjualan</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/dokter" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/penjualan_bahan.png" class="img-btn"/>
            <span class="text-btn">Bahan Ruangan</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/dokter" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/ttb.png" class="img-btn"/>
            <span class="text-btn">TTB dari<br>Pemasok</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/dokter" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/stock_opname.png" class="img-btn"/>
            <span class="text-btn">Stok Opname</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/dokter" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/penagihan.png" class="img-btn"/>
            <span class="text-btn">Penyesuaian<br>Tagihan</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/dokter" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/kasir.png" class="img-btn"/>
            <span class="text-btn">Kasir</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/dokter" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/buku_kasir.png" class="img-btn"/>
            <span class="text-btn">Buku Kas Kasir</span>
          </a>
        </div>
        
      </div>
    </app-card>

  </div>
</div>
