<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
        
      <app-card>
    
          <div class="row">
            <div class="col-sm-12 menu-headline m-t-3 m-b-10 p-0">
              Identitas Rumah Sakit
            </div>
          </div>
    
          <div class="app-modal-body modal-body-input">
              <div class="row">

                  <div class="col-sm-6 p-r-25" style="border-right: 2px solid #edeff5;">

                      <div class="row m-b-5">
                          <div class="col-sm-6 modal-label-input">
                              <label for="">Kode Rumah Sakit</label>
                              <input type="text" class="form-control main-form-input" placeholder="">
                              <span class="md-line"></span>
                          </div>
                          <div class="col-sm-6 modal-label-input">
                              <label for="">Kode Faskes</label>
                              <input type="text" class="form-control main-form-input" placeholder="">
                              <span class="md-line"></span>
                          </div>
                      </div>

                      <div class="row m-b-5">   
                          <div class="col-sm-12 modal-label-input">
                              <label for="">Nama Rumah Sakit</label>
                              <input type="text" class="form-control main-form-input" placeholder="">
                              <span class="md-line"></span>
                          </div>
                      </div>

                      <div class="row m-b-5"> 
                          <div class="col-sm-12 modal-label-input">
                              <label for="">No. Izin Rumah Sakit</label>
                              <input type="text" class="form-control main-form-input" placeholder="">
                              <span class="md-line"></span>           
                          </div>
                      </div>

                      <div class="row m-b-10">
                          <div class="col-sm-12 modal-label-input">
                              <label for="">Penanggung Jawab</label>
                              <input type="text" class="form-control main-form-input" placeholder="">
                              <span class="md-line"></span>           
                          </div>                           
                      </div>

                      <div class="row m-b-5"> 
                         <div class="col-sm-12 modal-label-input">
                            <label for="">No. Izin Praktek</label>
                            <input type="text" class="form-control main-form-input" placeholder="">
                            <span class="md-line"></span>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-6 p-l-25">

                      <div class="row m-b-5">
                          <div class="col-sm-12 modal-label-input">
                              <label for="">Alamat Klinik</label>
                              <input type="text" class="form-control main-form-input" placeholder="">
                              <span class="md-line"></span>
                          </div>
                      </div>
                      <div class="row m-b-5">  
                          <div class="col-sm-12 modal-label-input">
                              <label for="">Kabupaten / Kota</label>
                              <input type="text" class="form-control main-form-input" placeholder="">
                              <span class="md-line"></span>           
                          </div>                            
                      </div>

                      <div class="row m-b-5">
                          <div class="col-sm-6 modal-label-input">
                              <label for="">Kode POS</label>
                              <input type="text" class="form-control main-form-input" placeholder="">
                              <span class="md-line"></span>           
                          </div>
                          <div class="col-sm-6 modal-label-input">
                              <label for="">Telepon</label>
                              <input type="text" class="form-control main-form-input" placeholder="">
                              <span class="md-line"></span>           
                          </div>
                      </div>

                      <div class="row m-b-5">                      
                           <div class="col-sm-6 modal-label-input">
                              <label for="">Handphone</label>
                              <input type="text" class="form-control main-form-input" placeholder="">
                              <span class="md-line"></span>           
                          </div>
                          <div class="col-sm-6 modal-label-input">
                              <label for="">FAX</label>
                              <input type="text" class="form-control main-form-input" placeholder="">
                              <span class="md-line"></span>           
                          </div>
                      </div>

                      <div class="row m-b-5">
                          <div class="col-sm-12 modal-label-input">
                              <label for="">Email</label>
                              <input type="email" class="form-control main-form-input text-trans-none" placeholder="">
                              <span class="md-line"></span>           
                          </div>                            
                      </div>                       

                  </div>
              </div>
              
              <div class="row m-b-5 align-items-end">
                  <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
                  <div class="col-sm-4 m-t-10 p-l-10 text-right"></div>
                  <div class="col-sm-4 m-t-10 p-l-10 text-right">
                      <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
                          <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light">Simpan Perubahan</button>
                          <button type="button" (click)="detailKlinik.hide()" class="btn btn-primary btn-sm btn-main-grey waves-effect waves-light">Bersih</button>
                      </div>
                  </div>
              </div>

          </div>
      </app-card>

  </div>
</div>
    


