<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
      
    <app-card>
  
      <div class="row">
        <div class="col-sm-12 menu-headline m-t-10 m-b-10 p-0">
          Identitas Pasien
        </div>
      </div>
  
      <div class="row align-items-end m-b-15">
        <div class="col-sm-8"></div>
        <div class="col-sm-4 m-t-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" (click)="importPasien.show()" class="btn btn-primary btn-md bt-round btn-main waves-effect waves-light">Import Data Pasien</button>
            <button type="button" [routerLink]="['/rekam-medis/identitas-pasien']" class="btn btn-primary btn-md bt-round btn-main waves-effect waves-light">Edit Identitas</button>
            <button type="button" class="btn btn-primary btn-md btn-main-grey waves-effect waves-light">Refresh</button>
          </div>
        </div>        
      </div>

      <div class="row">
        <div class="col-sm-12 m-t-10 p-0">
          <div class="table-responsive">
            <table class="table table-xs table-hover table-custom" id="example-2">
              <thead>
                <tr>
                  <th>No</th>
                  <th>No. RM</th>
                  <th>No. KTP</th>
                  <th>Nama Lengkap</th>
                  <th>Umur</th>
                  <th>JK</th>
                  <th>Tgl Registrasi</th>
                  <th>Opsi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">1</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">001981</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">32173657847565787</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Andreas Perdana</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">26 thn</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">L</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">19/02/2019</span></td>
                  <td>
                    <button type="button" [routerLink]="['/rekam-medis/detail-periksa-pasien']" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Detail</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-info-table text-right">
          Jumlah Data : <span>3</span>
        </div>
      </div>
  
    </app-card>
  
  </div>
</div>

<app-modal-basic #importPasien [dialogClass]="'modal-md modal-md-2'">

  <div class="app-modal-header">
    <div class="modal-header-info text-left">
      <p>Import Data Pasien Lama</p>
    </div>
  </div>

  <div class="app-modal-body modal-body-input">
    <div class="row m-l-0 m-r-0 m-b-5 m-t-5" style="border-bottom: 1px solid #dde2ee;">
      <div class="col-sm-3 modal-label-info m-t-10">
          <label for="">Pilih Berkas</label>
      </div>
      <div class="col-sm-9 modal-label-info m-t-5">
        <div class="input-group input-group-button">
            <input type="text" class="form-control main-form-input" placeholder="Berkas belum dipilih">
        </div>
      </div>
    </div>

    <div class="row m-b-5">
      <div class="col-sm-6 m-t-10">
        <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
          <button type="button" class="btn btn-primary btn-md btn-main waves-effect waves-light"><i class="icofont icofont-download-alt"></i> Download Template</button>
        </div>
      </div> 
      <div class="col-sm-6 m-t-10 text-right">
        <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
          <button type="button" class="btn btn-primary btn-md bt-round btn-main waves-effect waves-light p-r-10 m-w-30"><i class="icofont icofont-upload-alt"></i> Import</button>
          <button type="button"(click)="importPasien.hide()" class="btn btn-danger btn-md bt-round btn-main waves-effect waves-light m-w-30"><i class="icofont icofont-ui-close"></i> Batal</button>          
        </div>
      </div>
    </div>
    
  </div>
</app-modal-basic>
 
