/* You can add global styles to this file, and also import other style files */

aside.pcoded-slider.ng-sidebar {
    top: 56px;
}

.slimscroll-wrapper, .scroll-window {
    width: 100% !important;
}

.userlist-box.show {
    display: -webkit-box;
}

.userlist-box.hide {
    display: none;
}



.sub-menu-body {
    margin: 33px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.sub-menu-body > ul > li {
    margin: 10px 0 0 0;
    padding: 8px 0px 8px 15px;
}

.sub-menu-body > ul > li > a{
    font-size: 13px;
    font-weight: 600;
    color: #52617b;
}
  
.sub-menu-body > ul > li:hover,
.sub-menu-body > ul > li:active {
    background-color: #dde2ee;   
    padding: 8px 0px 8px 15px;
    border-radius: 10px;
}
.sub-menu-body > ul > li:hover > a {
    color: #00796b;
}
 
.active-li {
    background-color: #dde2ee;   
    padding: 8px 0px 8px 8px;
    border-radius: 10px; 
} 

.active-a { 
    color: #00796b !important;
}

.menu-slide {   
    float: left;
    position: relative;
    text-align: center;
    font-size: 18px;
    padding: 37px 0 0 0;
    margin: 0 0 0 0; 
    height: 100vh;
    width: 20px;
    /* border:1px solid #00796b; */
    border-width: 0.5px;
    color: #00796b !important;
    background-color: #f4f5f7;
}
 
.user-login span {
    color: #00796b;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}