<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" vertical-nav-type="collapsed" [attr.pcoded-device-type]="deviceType"  [attr.vertical-effect]="verticalEffect" vnavigation-view="view1">
    <!--[attr.vertical-nav-type]="verticalNavType"-->
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
  
      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          <nav id="main_navbar" class=" pcoded-navbar" navbar-theme="theme1" active-item-theme="theme5" sub-item-theme="theme2" active-item-style="style0" pcoded-navbar-position="fixed"  (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'">
           
            <div class="sidebar_toggle">
              <a href="javascript:;"><i class="icon-close icons"></i></a>
            </div>
  
            <div class="pcoded-inner-navbar main-menu" appAccordion slimScroll width="100%" height="100%" size="4px" color="#fff" opacity="0.3" allowPageScroll="false">
              <div class="">
                <div class="main-menu-header">
                  <img class="img-40" src="assets/images/user.png" alt="User-Profile-Image" placement="right" ngbTooltip="Username">
                </div>
              </div>
  
              <div>
  
              <ul class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid" subitem-border="solid" >
                <li appAccordionLink   placement="right" ngbTooltip="Dashboard">
                  <a routerLink="/dashboard" appAccordionToggle >
                    <span class="pcoded-micon"><i class="icofont icofont-home"></i></span> 
                  </a>
                </li>
                <li class="active" appAccordionLink   placement="right" ngbTooltip="Profile">
                  <a routerLink="/profile" appAccordionToggle >
                    <span class="pcoded-micon"><i class="icofont icofont-user"></i></span> 
                  </a>
                </li>
                <li appAccordionLink   placement="right" ngbTooltip="Setting">
                  <a routerLink="/setting" appAccordionToggle >
                    <span class="pcoded-micon"><i class="icofont icofont-gears"></i></span> 
                  </a>
                </li>
                <li appAccordionLink placement="right" ngbTooltip="Administrator">
                  <a routerLink="/administrator" appAccordionToggle >
                    <span class="pcoded-micon"><i class="icofont icofont-database"></i></span> 
                  </a>
                </li>
              </ul> 
              </div>
              
            </div>
          </nav>
  
          <div class="pcoded-content">
            <div class="flex-container">
  
              <div style="display:flex; position:fixed;">
                <div class="sub-layout-menu" [style.margin-left.px]="variabelbool1" style="transition: all 1s ease-in-out;">
                  <div class="sub-menu-header">
                    <h5>MENU</h5>
                  </div>
                  <div class="sub-menu-body">
                    <div class="sub-menu-body">
                      <ul>
                        <li routerLinkActive="active-li"><a routerLink="/dashboard" routerLinkActive="active-a"> Profile </a></li>                        
                      </ul>
                    </div> 
                  </div>
                </div>
                <a href="javascript:void(0);" (click)="close()" class="menu-slide">
                  <i *ngIf="variabelbools == true" class="icofont icofont-navigation-menu"></i>
                  <i *ngIf="variabelbools == false" class="icofont icofont-navigation-menu"></i>
                </a>>
              </div>
   
              <div class="pcoded-inner-content" [style.margin-left.px]="variabelbool2" style="transition: all 1s ease-in-out;">
                <div class="main-body" >
                  <div class="page-wrapper">
                    <app-title></app-title>
                    <app-breadcrumbs></app-breadcrumbs>
                    <div class="page-body">
                      <router-outlet><spinner></spinner></router-outlet>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  <!-- <go-top-button [html]="htmlButton"
                 [animate]="true"
                 [speed]="50"
                 [acceleration]="2"
                 [scrollDistance]="100"
                 [styles]="{
                      'right': '50px',
                      'bottom': '50px',
                      'top': 'auto',
                      'left': 'auto',
                      'width': 'auto',
                      'height': 'auto',
                      'background' : 'transparent'
                   }">
  </go-top-button> -->
  