<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">

    <app-card>
      <div class="row">
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/karyawan" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/data_karyawan.png" class="img-btn"/>
            <span class="text-btn">Data Karyawan</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/perawat" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/data_karyawan.png" class="img-btn"/>
            <span class="text-btn">Data Perawat</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/dokter" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/data_dokter.png" class="img-btn"/>
            <span class="text-btn">Data Dokter</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/perusahaan" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/data_perusahaan.png" class="img-btn"/>
            <span class="text-btn">Data Perusahaan</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/klasifikasi" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/data_klasifikasi.png" class="img-btn"/>
            <span class="text-btn">Data Klasifikasi</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/poli" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/data_poli.png" class="img-btn"/>
            <span class="text-btn">Data Poli</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/penyakit2" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/data_penyakit.png" class="img-btn"/>
            <span class="text-btn">Data Penyakit<br>( ICD 9 )</span>
          </a>
        </div>
        <div class="col-sm-2 btn-master p-0">
          <a routerLink="/master/penyakit" class="btn btn-default btn-outline-default btn-menu-master  "><img src="assets/icon/iconapp/data_penyakit.png" class="img-btn"/>
            <span class="text-btn">Data Penyakit<br>( ICD 10 )</span>
          </a>
        </div>       
        
      </div>
    </app-card>

  </div>
</div>
