<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
    <div class="col-sm-12">
        <app-card [title]="'profile'">
            <div class="row">
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
                <br>         
                asdasd
                <br>         
            </div>
        </app-card>
        
    </div>
</div>