<div class="page-header row">
  <div class="page-header-title col-sm-6 col-xs-12">
    <ul class="breadcrumb-title">
      <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
        <a [routerLink]="breadcrumb.url"><h4>{{breadcrumb.label}}</h4></a>
      </li>
    </ul>
  </div>
  <div class="page-header-breadcrumb col-sm-6 col-xs-12"> 
    <span>{{weekday}}, {{ now | date:' dd MMMM yyyy HH:mm:ss' }}</span>
  </div>
</div>