<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
    <div class="col-sm-12">

        <app-card>
            <div class="row">
                <div class="col-sm-12 user-login p-0 m-b-20">
                    Selamat datang, <span> Raka Maheka </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 p-0">
                    <h4>Shortcut</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 btn-shortcut m-t-10">                
                    <button class="btn btn-default btn-outline-default btn-dashboard m-l-15 m-t-15 m-b-15 "><img src="assets/icon/iconapp/icon-data-penyakit.png" class="img-dashboard"/><span class="text-dashboard">Data Penyakit</span></button>
                    <button class="btn btn-default btn-outline-default btn-dashboard m-l-15 m-t-15 m-b-15 "><img src="assets/icon/iconapp/icon-tanda-vital.png" class="img-dashboard"/><span class="text-dashboard">Cek Data Vital</span></button>
                    <button class="btn btn-default btn-outline-default btn-dashboard plus-btn m-l-15 m-t-15 m-b-15 "><img src="assets/images/favicon-plus.png" class="img-dashboard"/><span class="text-dashboard">Tambah</span></button>
                    <!-- <button class="btn btn-default btn-outline-default btn-dashboard m-l-15 m-t-15 m-b-15 "><img src="assets/images/button/menu04.png" class="img-dashboard"/><span class="text-dashboard">Cek Tanda Vital</span></button> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 p-0 m-t-30">
                    <h4>Information</h4>
                </div>
                <div class="col-sm-4 p-0 m-t-30 m-l-25">
                    <h4>Contact Support</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 dashboard-box p-0 m-t-10">
                    <ul>
                        <li>
                            <h5>00245 - Klinik Bhakti Insani</h5>
                        </li>
                        <li class="m-t-5">
                            Izin : 445.5/004/BPPT.4
                        </li>
                        <li class="m-t-5">
                            Kp. Rawa Bambu Kali Baru, Medan Satria <br>
                            RT.001 RW.004 <br>
                            Bekasi, 17133 <br>
                            Telp : 021 8892 932
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 dashboard-box p-0 m-t-10 m-l-25">
                    <ul>
                        <li>
                            <h5>PT. Kreasi Usaha Cipta Usaha</h5>
                        </li>
                        <li class="m-t-5">
                            Healthcare Support Service
                        </li>
                        <li class="m-t-5">
                            Kp. Rawa Bambu Kali Baru, Medan Satria <br>
                            RT.001 RW.004 <br>
                            Bekasi, 17133 <br>
                            Telp : 021 8892 932
                        </li>
                    </ul>
                </div>
                <div class="card-end p-0">
                    <div class="row">
                        <div class="col-sm-2">
                            <span>IP PC : </span> 192.168.100.222 
                        </div>
                        <div class="col-sm-2">
                            <span>IP SERVER : </span> localhost
                        </div>
                        <div class="col-sm-8 app-lic">
                            Copyright by SIRUSXCRIPT 2019
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                               
            </div>

        </app-card>
        
    </div>
</div>