<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
      
    <app-card>
  
      <div class="row">
        <div class="col-sm-12 menu-headline m-t-10 m-b-10 p-0">
          Rujukan Luar
        </div>
      </div>
  
      <div class="row align-items-end m-b-15">
        <div class="col-sm-2 modal-label-info m-t-10 p-0">
            <label for="">Periode</label>
            <input type="text" class="form-control main-form-input" placeholder="Tanggal Dari">
            <span class="md-line"></span>
        </div>
        <div class="col-sm-1 modal-label-input p-t-23 text-center">
          <label for="">s/d</label>
        </div>
        <div class="col-sm-2 modal-label-info p-t-20">
          <input type="text" class="form-control main-form-input" placeholder="Tanggal Dari">
          <span class="md-line"></span>
        </div>
        <div class="col-sm-4 m-t-10 p-l-10">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" (click)="toggle()" class="btn btn-primary btn-md btn-round btn-main waves-effect waves-light m-w-30"> 
              <i class="icofont icofont-eye-alt"></i> Tampilkan</button>
          </div>
        </div>
        <div class="col-sm-3 m-t-10 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" (click)="refClicked()" class="btn btn-primary btn-md btn-round btn-main-grey waves-effect waves-light m-w-30"> 
              <i class="icofont icofont-refresh"></i> Refresh</button>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="show">
        <div class="col-sm-12 m-t-10 p-0">
          <div class="table-responsive">
            <table class="table table-xs table-hover table-custom" id="example-2">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Tanggal</th>
                  <th>No. Daftar</th>
                  <th>No. RM</th>
                  <th>Nama Pasien</th>
                  <th>Tgl Lahir</th>
                  <th>Umur</th>
                  <th>JK</th>
                  <th>Klasifikasi</th>
                  <th>Dokter</th>
                  <th>Opsi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">1</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">11/02/2019</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/009</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">009181</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Andreas Perdana</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">29/02/1998</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">26 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">L</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">BPJS</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Alfi Laeleyah, dr</span></td>
                  <td>
                    <button type="button" (click)="lapPemeriksaan.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Tampilkan</button>
                  </td>
                </tr>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">1</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">11/02/2019</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">POLI/2019/02/010</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">009009</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Tomas Daki</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">20/10/2001</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">23 THN</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">L</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Umum</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Dwi Putra Setianto, dr</span></td>
                  <td>
                    <button type="button" (click)="lapPemeriksaan.show()" class="btn btn-success btn-md btn-outline-success btn-main btn-main-table waves-effect waves-light">Tampilkan</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="show">
        <div class="col-sm-12 text-info-table text-right">
          Jumlah Data : <span>2</span>
        </div>
      </div>
  
    </app-card>
  
  </div>
</div>


<app-modal-basic #lapPemeriksaan [dialogClass]="'modal-lg modal-lg-2'">

  <div class="app-modal-header">
    <div class="modal-header-info text-left">
      <p>Detail Pemeriksaan Pasien</p>
    </div>
  </div>

  <div class="app-modal-body modal-body-input">

    <div class="row">          
      <div class="col-sm-12">

        <div class="row m-l-0 m-r-0 m-b-6 p-t-6" style="border-top: 2px solid #edeff5;">
          <div class="col-sm-3 modal-label-info span-right">
            <label for="">No. RM</label><span>:</span>
          </div>
          <div class="col-sm-2 modal-label-info label-100">
            <label for=""> 22/11/2019</label>
          </div>
        </div>

        <div class="row m-l-0 m-r-0 m-b-6">
          <div class="col-sm-3 modal-label-info span-right">
            <label for="">Nama Pasien</label><span>:</span>
          </div>
          <div class="col-sm-2 modal-label-info label-100">
            <label for="">009181</label>
          </div>
        </div>

        <div class="row m-l-0 m-r-0 m-b-6">
          <div class="col-sm-3 modal-label-info span-right">
            <label for="">Tgl Lahir</label><span>:</span>
          </div>
          <div class="col-sm-2 modal-label-info label-100">
            <label for=""> 29/06/1992</label>
          </div>
        </div>

        <div class="row m-l-0 m-r-0 m-b-6">
            <div class="col-sm-12 m-t-10 p-0">
              <div class="table-responsive">
                <table class="table table-xs table-hover table-custom" id="example-2">
                  <thead>
                    <tr>
                      <th>Anamnesa</th>
                      <th>Tanda Vital</th>
                      <th>Diagnosa</th>
                      <th>Terapi</th>
                      <th>Tindakan Lain - lain</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="tabledit-view-mode"><span class="tabledit-span">Batuk, Pilek, Demam, Meriang, Muntah...</span></td>
                      <td class="tabledit-view-mode">
                        <span class="tabledit-span">
                          <ul>
                            <li>Berat Badan : 80 kg</li>
                            <li>Tinggi Badan : 170 cm</li>
                            <li>Suhu Badan : 38 C</li>
                            <li>Tekanan Darah : 20mmHg</li>
                            <li>Nadi : 40 x/menit</li>
                            <li>Pernapasan : 20 x/menit</li>
                          </ul>
                        </span>
                      </td>
                      <td class="tabledit-view-mode"><span class="tabledit-span">ISPA</span></td>
                      <td class="tabledit-view-mode">
                        <span class="tabledit-span">
                          <ul>
                            <li>R/ Dextral S.3DD1</li>
                            <li>R/ Ramolit S.3DD1</li>
                            <li>R/ Vitacap S.3DD1</li>
                          </ul>
                        </span>
                      </td>
                      <td class="tabledit-view-mode"><span class="tabledit-span">SKS</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>

      </div>      
    </div>

    <div class="row m-l-0 m-r-0 m-b-0 m-t-10 align-items-end" style="border-top: 1px solid #dde2ee;">
      <div class="col-sm-8 m-t-10 p-l-10 text-right"></div>
      <div class="col-sm-4 m-t-10 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-md">
              <button type="button" class="btn btn-primary btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-check"></i> Proses
              </button>
              <button type="button" (click)="lapPemeriksaan.hide()" class="btn btn-danger btn-sm btn-main waves-effect waves-light m-w-30">
                <i class="icofont icofont-ui-close"></i> Batal
              </button>
          </div>
      </div>
    </div>
  </div>
</app-modal-basic>