<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'penjualan'">
      <div class="row">
        <div class="col-sm-12 btn-shortcut m-t-10">
        </div>
      </div>
    </app-card>
  </div>
</div>
