<!-- <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading> -->
<div class="row">
  <div class="col-sm-12">
      
    <app-card>
  
      <div class="row">
        <div class="col-sm-8 menu-headline m-t-10 m-b-10 p-0">
          Riwayat Pemeriksaan
        </div>
        <div class="col-sm-4 m-t-10 p-l-10 text-right">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" class="btn btn-default btn-md btn-main btn-main-close waves-effect waves-light m-w-0 p-0"> 
              <i class="icofont icofont-close"></i></button>
          </div>
        </div>
      </div>

      <div class="row align-items-end m-b-15">
        <div class="col-sm-2 modal-label-info m-t-10 p-0">
            <label for="">Periode</label>
            <input type="text" class="form-control main-form-input" placeholder="Tanggal Dari">
            <span class="md-line"></span>
        </div>
        <div class="col-sm-1 modal-label-input p-t-23 text-center">
          <label for="">s/d</label>
        </div>
        <div class="col-sm-2 modal-label-info p-t-20">
          <input type="text" class="form-control main-form-input" placeholder="Tanggal Sampai">
          <span class="md-line"></span>
        </div>
        <div class="col-sm-4 m-t-10 p-l-10">
          <div class="" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
            <button type="button" (click)="toggle()" class="btn btn-primary btn-md btn-round btn-main waves-effect waves-light m-w-30"> 
              <i class="icofont icofont-eye-alt"></i> Tampilkan</button>
          </div>
        </div>
      </div>
  
      <div class="row" *ngIf="show">          
        <div class="col-sm-6 p-t-0 p-r-0 p-l-0">
          <div class="col-sm-12 p-t-6" style="border: 1px solid #dde2ee; border-radius:10px;">

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-12 modal-label-info">
                <label for="" style="color: #00796b; font-size: 13px;">Identitas Pasien</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">No. Daftar | No. RM</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> POLI/2019/02/001</label>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> 009181</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Nama Pasien</label><span>:</span>
              </div>
              <div class="col-sm-8 modal-label-info label-100">
                <label for=""> ANDREAS PERDANA</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Tgl Lahir | Umur | JK</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> 29/06/1992</label>
              </div>
              <div class="col-sm-2 modal-label-info label-100">
                <label for=""> 26 Thn</label>
              </div>
              <div class="col-sm-2 modal-label-info label-100">
                <label for=""> L</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Klasifikasi | Poli</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> BPJS</label>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> Poli Umum</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Dokter</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> Alfi Laeliyah, dr</label>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-6 p-t-0 p-r-0">
          <div class="col-sm-12 p-t-6" style="border: 1px solid #dde2ee; border-radius:10px;">

            <div class="row m-l-0 m-r-0 m-b-6">
                <div class="col-sm-12 modal-label-info">
                <label for="" style="color: #00796b; font-size: 13px;">Tanda Vital</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">BB ( Kg ) | TB ( cm )</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> 65</label>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> 174</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Pernapasan ( x/menit )</label><span>:</span>
              </div>
              <div class="col-sm-8 modal-label-info label-100">
                <label for=""> 15</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Nadi ( x/Menit )</label><span>:</span>
              </div>
              <div class="col-sm-8 modal-label-info label-100">
                <label for=""> 55</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">TD ( mmHg ) | Suhu ( C )</label><span>:</span>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for=""> 80/100</label>
              </div>
              <div class="col-sm-4 modal-label-info label-100">
                <label for="">36</label>
              </div>
            </div>

            <div class="row m-l-0 m-r-0 m-b-6">
              <div class="col-sm-4 modal-label-info span-right">
                <label for="">Perhatian Khusus</label><span>:</span>
              </div>
              <div class="col-sm-8 modal-label-info label-100">
                <label for=""> Badan Lemes, Muka Pucat</label>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row" *ngIf="show">
        <div class="col-sm-12 m-t-10 p-0">
          <div class="table-responsive">
            <table class="table table-xs table-hover table-custom-rm" id="example-2">
              <thead>
                <tr>
                  <th width="5%" rowspan="2">Tanggal</th>
                  <th colspan="4">Hasil Pemeriksaan</th>
                  <th width="20%" rowspan="2">Dokter</th>
                  <!-- <th width="15%" rowspan="2">Tanda Vital</th> -->
                </tr>
                <tr>
                  <th width="20%">Anamnesa</th>
                  <th width="10%">Diagnosa</th>
                  <th width="25%">Terapi</th>
                  <th width="20%">Tindakan</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">11/02/2019</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">sariawan, bibir pecah-pecah, meriang</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">ISPA</span></td>
                  <td class="tabledit-view-mode">
                    <span class="tabledit-span">
                      <ul>
                        <li>
                          r/ amoxycillin no. 8 <br>
                          <span>s. 3 dd 1</span>
                        </li>
                        <li>
                          r/ Paracetamol no. 8 <br>
                          <span>s. 3 dd 1</span>
                        </li>
                      </ul>
                    </span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Banyak minum air putih, kurangin makanan pedas dan berminyak</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Alfi laeliyah, dr, sppd</span></td>
                </tr>
                <tr>
                  <td class="tabledit-view-mode"><span class="tabledit-span">13/02/2019</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">sariawan, bibir pecah-pecah, meriang</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">ISPA</span></td>
                  <td class="tabledit-view-mode">
                    <span class="tabledit-span">
                      <ul>
                        <li>
                          r/ amoxycillin no. 8 <br>
                          <span>s. 3 dd 1</span>
                        </li>
                        <li>
                          r/ Paracetamol no. 8 <br>
                          <span>s. 3 dd 1</span>
                        </li>
                      </ul>
                    </span>
                  </td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Banyak minum air putih, kurangin makanan pedas dan berminyak</span></td>
                  <td class="tabledit-view-mode"><span class="tabledit-span">Alfi laeliyah, dr, sppd</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="show">
        <div class="col-sm-12 text-info-table text-right">
          Jumlah Data : <span>2</span>
        </div>
      </div>

    </app-card>
  
  </div>
</div>

  
   
