.table-custom-rm {
    font-size: 10px;
    color: #52617b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.table-custom-rm > thead > th {
    padding: .3rem;
    border: 1px solid #e9ecef;
    vertical-align: middle;
    text-align: center;
}